<link rel="stylesheet" type="text/css" href="/__CSS__/user/reset.css?v=20170715">
<style>
    .activity{
        width: 96%; margin:0 2%;float: none;
    }
    .activity h5{
        border-color:#b7b7b7;
    }
    .activity ul li{
        width: 49%;
        height: auto;
    }
</style>


<div class="activity">
    <h5>优惠活动</h5>
    <ul>
        <li>
            <a href="/bonus/turntable" target="pageframe">
                <img src="/__IMG__/1405.jpg" alt="大转盘">
            </a>
        </li>
        <li>
            <a href="#" target="pageframe">
                <img src="/__IMG__/1405.jpg" alt="活动2">
            </a>
        </li>
        <li>
            <a href="#" target="pageframe">
                <img src="/__IMG__/1405.jpg" alt="活动2">
            </a>
        </li>
        <li>
            <a href="#" target="pageframe">
                <img src="/__IMG__/1405.jpg" alt="活动2">
            </a>
        </li>
        <li>
            <a href="#" target="pageframe">
                <img src="/__IMG__/1405.jpg" alt="活动2">
            </a>
        </li>
        <li>
            <a href="#" target="pageframe">
                <img src="/__IMG__/1405.jpg" alt="活动2">
            </a>
        </li>
    </ul>
</div>