
{layout name="layout" /}

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
   
    <form>
          <div class="has-feedback pull-right">
            <button type="submit" class="btn btn-block btn-default btn-sm filter">查询</button>
          </div>
        
          <div class="pull-right">
            <select class="form-control input-sm" name="status" aria-hidden="true">
               <option value="" >全部状态</option>
               <option value="0" {if(is_numeric($Think.get.status)&&$Think.get.status==0)}selected{/if}>未读</option> 
               <option value="1" {if($Think.get.status==1)}selected{/if}>已读</option> 
            </select>
           </div>
     </form>

      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
              <th >收件ID</th>
              <th >消息ID</th>
              <th >发件人</th>            
              <th >收件人</th>
              <th >消息内容</th>
              <th >发送日期</th>
              <th >接收日期</th>              
              <th >状态</th>
              <th>操作</th>
            </tr>
          {foreach $list as $vo} 
             <tr>        
                <td>{$vo.id}</td>
                <td>{$vo.message_id}</td>
                <td>{$vo->message->sender->username}</td>        
                <td>{$vo->receiver->username}</td>
                <td>{$vo->message->text}</td>
                <td>{$vo->message->created_at}</td>
                <td>{$vo->created_at}</td>
                <td>
                  {if($vo->status==0)}
                  <span class="btn-danger">未读</span>
                  {/if}
                  {if($vo->status==1)}
                  <span class="btn-success">已读</span>
                  {/if}
                </td> 
                <td >
                    <i  data-id="{$vo.id}" class="edit fa fa-pencil"></i>&nbsp;&nbsp;
                    <i  data-id="{$vo.id}" class="del fa fa-trash"></i>
                </td>
              </tr>
             {/foreach}
          </table>
        {$list->render();}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<!-- AdminLTE App -->
<script type="text/javascript">
$(function(){

  $(".add_member").click(function(){
    $.get('/slide/slide_form.html',{},function(data){
      layer.open({
        type: 1,
        title: '新增支付类别',
        maxmin: true, //开启最大化最小化按钮
        area: ['900px', '600px'],
        content: data
      });
    },'html');
  });
  
  $(".edit").click(function(){
    var id = $(this).attr('data-id');
    $.get('/slide/slide_form.html',{id:id},function(data){
      layer.open({
        type: 1,
        title: '修改会员',
        maxmin: true, //开启最大化最小化按钮
        area: ['900px', '600px'],
        content: data
      });
    },'html');
  });
  $(".del").click(function(){
    var id = $(this).attr('data-id');
    layer.confirm('确定删除?', {
      btn: ['确定','取消'] //按钮
    }, function(){
      $.get('/slide/slide_del',{id:id},function(data){
        layer.alert(data.msg, {
              time: 20000,
              skin: 'layui-layer-molv', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
              closeBtn: 0,
              anim: 4
            }, function(){
               window.location.href = document.URL;
            } )

      },'json');
    }, function(){
    
    });
  });
});

</script>
