  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/bower_components/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
<form id="logout-form" action="{:url('index/logout')}" method="POST" style="display: none;">
  <!--input type="hidden" name="_token" value="AwtKP53nFF5yFkqzjUCWa8Rx6fHfjXxoSgpQ4bQP"-->
</form>
          <p>{$user->username}</p>
          <a>修改密码</a>
          <a href="{:url('index/logout')}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">退出登录</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <!--form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form-->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!--li class="header">HEADER</li-->

        {foreach($menus['top'] as $v)}
        <li class="treeview  {if(in_array($v->id,$menus['patharr']))} active {/if}">
            <a href="#"><i class="fa {$v->icon}"></i> <span>{$v->name}</span> <i
            class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
          {foreach($menus[$v->id] as $vv)}
              <li {if(in_array($vv->id,$menus['patharr']))} class="active" {/if}><a href="{:url($vv->url)}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle-o"></i>{$vv->name}</a></li>
          {/foreach}
            </ul>
        </li>
        {/foreach}

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>