<form class="form-horizontal">
  <div class="box-body">
     <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">提案类型</label>
      <div class="col-sm-10" style="width:400px">
          <span class="form-control">
            公司入款提案
          </span>
      </div>
    </div>
     <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">代理人真实姓名</label>
      <div class="col-sm-10" style="width:400px">
           <span class="form-control">{$info->username}</span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">审核操作</label>
      <div class="col-sm-10" style="width:400px">
        <span class="form-control">
            {eq name="$info->status" value="0"}未审核{/eq}
            {eq name="$info->status" value="1"}同意{/eq}
            {eq name="$info->status" value="-1"}拒绝{/eq}
        </span>
      </div>
    </div>
     <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">备注</label>
      <div class="col-sm-10" style="width:400px">
        <span class="form-control">{$info->remark}</span>
      </div>
    </div>
  </div>
</form>

