<form class="form-horizontal" id="notice_add" method="post" enctype="multipart/form-data">
  <div class="box-body">

    <div class="form-group">
        <input type="hidden" id="soft-id" value="0">
        <label for="inputEmail3" class="col-sm-2 control-label">标题</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" placeholder="标题" {if(!empty($info['title']))} value="{$info['title']}" {/if}>
        </div>
      </div>

      <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">状态</label>
      <div class="col-sm-10">
        <select class="form-control select2 select2-hidden-accessible tabindex="-1"  name="enable" id="enable" aria-hidden="true">
              <option value="0" {if(!empty($info['enable']) && $info['enable'] =="0")}  selected="selected" {/if} selected="selected">开启</option>
              <option value="1" {if(!empty($info['enable']) && $info['enable'] =="1")}  selected="selected" {/if} >关闭</option>
         </select>
      </div>
    </div>

       <div class="form-group">
        <input type="hidden" id="soft-id" value="0">
        <label for="inputEmail3" class="col-sm-2 control-label">内容</label>

        <div class="col-sm-10">
          <textarea class="form-control" rows="3" name="content" placeholder="desc ...">{if(!empty($info['content']))} {$info['content']}{/if}</textarea>
        </div>
      </div>
    
   <input type="hidden" name="id" {if(!empty($info['id']))} value="{$info['id']}" {/if} >
    <div class="col-sm-offset-2 col-sm-10">
        <button id="btnajax" class="btn btn-danger">提交</button>
    </div>
  </div>
</form>

<script type="text/javascript">
$(function(){

    $("#btnajax").click(function () {

    var options = {
       url: "{:url('notice_edit')}",
      // type : 'POST',
     dataType : 'json',
      success : function(data) {
        $(".layui-layer-close").click();

       layer.alert(data.msg, {
          time: 20000,
          skin: 'layui-layer-molv', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
          closeBtn: 0,
          anim: 4
        }, function(){
           window.location.href = document.URL;
        })
      },
      error: function(data) {
         $(".layui-layer-close").click();
        layer.alert(data.msg, {
          time: 20000,
          skin: 'layui-layer-molv', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
          closeBtn: 0,
          anim: 4
        }, function(){
           window.location.href = document.URL;
        })
      }
    };
      $("#notice_add").ajaxForm(options);
   })
});

</script>
