<link rel="stylesheet" href="/400w-public/css/cabel-v1.css" />
<link rel="stylesheet" href="/400w-public/css/style.css" />
<link rel="stylesheet" href="/400w-public/css/animate.min.css" />
<link rel="stylesheet" href="/400w-public/css/lottery.css" />
<link rel="stylesheet" href="/400w-public/css/liMarquee.css" />
<link rel="stylesheet" href="/400w-public/css/jquery.range.css" />
<link rel="stylesheet" href="/400w-public/css/global.css" />
<link rel="stylesheet" href="/400w-public/css/other.css" />
<link rel="stylesheet" href="/400w-public/css/gfwf.css" />
<link rel="stylesheet" href="/400w-public/css/layer.css" />

<script type="text/javascript" src="/400w-public/js/mobile-detect.min.js"></script>
<script type="text/javascript" src="/400w-public/js/scrollanim.min.js"></script>
<script type="text/javascript" src="/400w-public/js/type.js"></script>
<script type="text/javascript" src="/400w-public/js/global.js"></script>
<script type="text/javascript" src="/400w-public/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/400w-public/js/jquery.md5.js"></script>
<script type="text/javascript" src="/400w-public/js/layer.js"></script>
<script type="text/javascript" src="/400w-public/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="/400w-public/js/dateFormat.js"></script>
<script type="text/javascript" src="/400w-public/js/template.js"></script>
<script type="text/javascript" src="/400w-public/js/swfobject.js"></script>
<script type="text/javascript" src="/400w-public/js/jquery.liMarquee.js"></script>

<script type="text/javascript" src="/400w-public/js/placeholders.jquery.min.js"></script>
<script type="text/javascript" src="/400w-public/js/jquery.range-min.js"></script>
<script type="text/javascript" src="/400w-public/js/gfwf.js"></script>
<script type="text/javascript" src="/400w-public/js/ssc.js"></script>

<div id="sscContent"><div class="lot-content clearfix">
    <div class="fl main-left">
        <div class="hd clearfix">
            <div class="fr">
                <div class="T-tab clearfix" style="margin-top: 4.4px; ">
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_ex')" class="active">二肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_sx')">三肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_six')">四肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_wx')">五肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_lx')">六肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_qx')">七肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_bx')">八肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_jx')">九肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_shix')">十肖</a>
                    <a href="javascript:void(0)" onclick="getSscSubPage('lhc-hx_shiyix')">十一肖</a>
                </div>
            </div>
        </div>

        <div class="table-common">
            <table width="100%" border="1">
                <thead>
                <tr>
                    <th width="53">号码</th>
                    <th width="62">赔率</th>
                    <th width="67">金额</th>
                    <th>号码</th>
                    <th width="53">号码</th>
                    <th width="62">赔率</th>
                    <th width="67">金额</th>
                    <th>号码</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td style="cursor: pointer;"><strong>鼠</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="鼠"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-10"></span>
                        <span class="ball-icon ball-22"></span>
                        <span class="ball-icon ball-34"></span>
                        <span class="ball-icon ball-46"></span>
                        </td>
                    <td style="cursor: pointer;"><strong>牛</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="牛"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-9"></span>
                        <span class="ball-icon ball-21"></span>
                        <span class="ball-icon ball-33"></span>
                        <span class="ball-icon ball-45"></span>
                        </td>
                </tr>
                <tr>
                    <td style="cursor: pointer;"><strong>虎</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="虎"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-8"></span>
                        <span class="ball-icon ball-20"></span>
                        <span class="ball-icon ball-32"></span>
                        <span class="ball-icon ball-44"></span>
                        </td>
                    <td style="cursor: pointer;"><strong>兔</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="兔"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-7"></span>
                        <span class="ball-icon ball-19"></span>
                        <span class="ball-icon ball-31"></span>
                        <span class="ball-icon ball-43"></span>
                        </td>
                </tr>
                <tr>
                    <td style="cursor: pointer;"><strong>龙</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="龙"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-6"></span>
                        <span class="ball-icon ball-18"></span>
                        <span class="ball-icon ball-30"></span>
                        <span class="ball-icon ball-42"></span>
                        </td>
                    <td style="cursor: pointer;"><strong>蛇</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="蛇"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-5"></span>
                        <span class="ball-icon ball-17"></span>
                        <span class="ball-icon ball-29"></span>
                        <span class="ball-icon ball-41"></span>
                        </td>
                </tr>
                <tr>
                    <td style="cursor: pointer;"><strong>马</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="马"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-4"></span>
                        <span class="ball-icon ball-16"></span>
                        <span class="ball-icon ball-28"></span>
                        <span class="ball-icon ball-40"></span>
                        </td>
                    <td style="cursor: pointer;"><strong>羊</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="羊"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-3"></span>
                        <span class="ball-icon ball-15"></span>
                        <span class="ball-icon ball-27"></span>
                        <span class="ball-icon ball-39"></span>
                        </td>
                </tr>
                <tr>
                    <td style="cursor: pointer;"><strong>猴</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="猴"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-2"></span>
                        <span class="ball-icon ball-14"></span>
                        <span class="ball-icon ball-26"></span>
                        <span class="ball-icon ball-38"></span>
                        </td>
                    <td style="cursor: pointer;"><strong>鸡</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="鸡"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-1"></span>
                        <span class="ball-icon ball-13"></span>
                        <span class="ball-icon ball-25"></span>
                        <span class="ball-icon ball-37"></span>
                        <span class="ball-icon ball-49"></span>
                        </td>
                </tr>
                <tr>
                    <td style="cursor: pointer;"><strong>狗</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="狗"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-12"></span>
                        <span class="ball-icon ball-24"></span>
                        <span class="ball-icon ball-36"></span>
                        <span class="ball-icon ball-48"></span>
                        </td>
                    <td style="cursor: pointer;"><strong>猪</strong></td>
                    <td style="cursor: pointer;"><strong class="color-red pl" data-plid="6781">5.8</strong></td>
                    <td><input type="checkbox" data-name="猪"></td>
                    <td style="cursor: pointer;">
                        <span class="ball-icon ball-11"></span>
                        <span class="ball-icon ball-23"></span>
                        <span class="ball-icon ball-35"></span>
                        <span class="ball-icon ball-47"></span>
                        </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="15">
                        <div class="hd clearfix rehd tzgz" id="toptouzhu">
        <div class="fl refl xzje">
                下注金额：<input type="text" class="txt" id="inputMoney">
            </div>
        <div class="kjanniu">
            <a href="javascript:void(0)" class="img-50" data-num="50"></a>
            <a href="javascript:void(0)" class="img-100" data-num="100"></a>
            <a href="javascript:void(0)" class="img-500" data-num="500"></a>
            <a href="javascript:void(0)" class="img-1000" data-num="1000"></a>
            <a href="javascript:void(0)" class="img-5000" data-num="5000"></a>
            <a href="javascript:void(0)" class="img-10000" data-num="10000"></a>
        </div>
        </div>
</td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="btns">
            <button type="submit" class="btn btn-1">提交</button>
            <button class="btn btn-2">重设</button>
        </div>
    </div>

    <div class="fr main-right cl-10">
    </div>
</div>
</div>