
.personCenterContainer{
	width: 100%;
	height: auto;
}

.personCenterContainerList{
	height: 65px;
	border-bottom: 1px dashed #e5e5e5;
}
.personCenterContainerList a{
	display: block;
	height: 100%;
}
.personCenterContainerList h4{
	float: left;
	width: 115px;
	padding-left: 40px;
	color:#555555;
	font-weight: bold;
	font-size: 16px;
	line-height: 65px;
}
.personCenterContainerList span{
	color: #999999;
	font-size: 13px;
	line-height: 65px;
}
.personCenterContainerList img{
	display: block;
	width: 20px;
	height: 20px;
	float: right;
	margin-right: 27px;
	margin-top: 23px;
}
.personCenterContainerList i{
	float: right;
	color: #0099ff;
	line-height: 65px;
	padding-right: 27px;
}
