.fk,.fk1{width:50px}
.fk2{background-color:#fcf492;border:solid 1px #00F;color:#F00;width:50px;text-align:center;font-weight:bold}
body{font-size:13px;position:relative;margin:auto;padding:0}
td a{color:#FFF;text-decoration:none}
#fj{width:760px;margin:10px auto;line-height:20px;height:0;display:block;border-top-width:1px;border-bottom-width:1px;border-top-style:dashed;border-bottom-style:solid;border-top-color:#000;border-bottom-color:#0C0}
#fj02{width:760px;margin:3px auto;line-height:20px;height:0;display:block;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:dashed;border-top-color:#000;border-bottom-color:#0C0}
.jsq{width:100%;margin-top:5;margin-right:auto;margin-bottom:5;margin-left:auto;}
a:hover{text-decoration: none;}
#changebg{cursor:pointer}
#changebg span a{color:#FFF;text-decoration:none;font-weight:bold;font-size:14px}
#changebg td{cursor:pointer;background:url(../images/top_bg.png) repeat-x;height:30px;cursor:pointer}
.biankuang a,.biankuang02 a{color:#FFF;text-decoration:none}
.biankuang04{border-right:solid 1px #FFF}
.biankuang04 a{color:#FFF;text-decoration:none}
.ball_dx{line-height:16px;height:27px;padding-top:2px}
.ball_dx_bg{background-color:#e4efeb;border-left:solid 1px #dfdfdf;border-right:solid 1px #dfdfdf}
.ball_dx_bg02{background-color:#e4efeb;border-left:solid 1px #dfdfdf}
#changlong{position:absolute;top:0;right:-143px;z-index:999;width:132px}
.cl_bg01{background-color:#CFC;border-bottom:solid 1px #dfdfdf;border-right:solid 1px #dfdfdf;padding-left:5px}
.cl_bg02{background-color:#FFF;border-bottom:solid 1px #dfdfdf}
.xiaz a{background-image:url(../images/xiazhu01.png);background-repeat:no-repeat;display:block;height:30px;width:114px;cursor:pointer;margin-left:10px}
.chongtian a{background-image:url(../images/chongtian01.png);background-repeat:no-repeat;display:block;height:30px;width:114px;cursor:pointer;margin-right:0}
.fist{border:solid 1px #dfdfdf;margin:0 auto}
#pl a{font-weight:bold;color:#F00;text-decoration:none}
#pl a:hover{font-weight:bold;color:#F00;text-decoration:underline}

.kuand{width:30px}
.top{background-image:url(../images/top_bg.png);background-repeat:repeat-x;border-right:solid 1px #FFF}
.top02{background-image:url(../images/top_bg.png);background-repeat:repeat-x;border-left:solid 1px #09F;border-top:solid 1px #09F;border-right:solid 1px #FFF}
.top03{background-image:url(../images/top_bg.png);background-repeat:repeat-x;border-right:solid 1px #09F;border-top:solid 1px #09F}
.top04{background-image:url(../images/top_bg.png);background-repeat:repeat-x;border:solid 1px #09F;border-bottom:0}
.diwu{background:url(../images/wu_bg02.png) no-repeat;height:30px;width:114px;line-height:29px}
.diyi{background:url(../images/first_bg01.png) no-repeat;height:30px;width:114px;line-height:29px}
.xiuxi{background:url(../images/xiuxi_bg1.png) no-repeat;width:740px;height:251px;position:relative;margin:100px auto 10px}
.xx_time{font-size:56px;color:#F00;font-weight:bold;text-align:center;}
.button ul li{list-style:none;float:left}

#tag td,#tag2 td{background:#e64151; margin-right: 10px;}
#tag span a,#tag2 span a,#tag3 span a{text-decoration: none;display: inline-block;padding: 5px; color: #fff;}
#tag span a:hover,#tag2 span a:hover,#tag3 span a:hover{text-decoration: none;color: #fff;}
#ajax_result_into{}


.inp1, .inp1m{display:block;width:100%;height:30px;padding:5px 1px;font-size:13px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}

.order_info{width:312px;background-color:#086705;color:#fff;}
.order_info th{background-image:url(../images/ssc_zdlb01.jpg); line-height:29px;text-align:center; font-weight:bold;border:solid #086705; border-width:0px 1px 1px 1px;}
.order_info td{background-color:#FFF; line-height:22px;text-align:center;border:solid #086705; border-width:0px 1px 1px 1px;}
.order_info .table{border:solid #086705; border-width:1px 0px 0px 1px;}
.order_info .caizhong{ color:#040404;}
.order_info .qihao{ color:#040404; font-family:Verdana, Geneva, sans-serif;}
.order_info .wanfa{ color:#040404}
.order_info .neirong{ color:#040404}
.order_info .jine{ color:#040404}
.order_info .peilv{ color:#040404}
.order_info .keying{ color:#040404}

.btn-ban{color:#fff;background-color:#b85c5c;border-color:#720808}.btn-ban.active,.btn-ban.focus,.btn-ban:active,.btn-ban:focus,.btn-ban:hover,.open>.dropdown-toggle.btn-ban{color:#fff;background-color:#9d4444;border-color:#843939}.btn-ban.active,.btn-ban:active,.open>.dropdown-toggle.btn-ban{background-image:none}.btn-ban.disabled,.btn-ban.disabled.active,.btn-ban.disabled.focus,.btn-ban.disabled:active,.btn-ban.disabled:focus,.btn-ban.disabled:hover,.btn-ban[disabled],.btn-ban[disabled].active,.btn-ban[disabled].focus,.btn-ban[disabled]:active,.btn-ban[disabled]:focus,.btn-ban[disabled]:hover,fieldset[disabled] .btn-ban,fieldset[disabled] .btn-ban.active,fieldset[disabled] .btn-ban.focus,fieldset[disabled] .btn-ban:active,fieldset[disabled] .btn-ban:focus,fieldset[disabled] .btn-ban:hover{background-color:#b85c5c;border-color:#720808}.btn-ban .badge{color:#b85c5c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}

.btn-aa{color:#fff;background-color:#720808;border-color:#720808}