<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" href="/css/general.css"/>
<script src='/js/js/jquery-1.8.0.min.js'></script>
<script type="text/javascript" src="/Scripts/member.js"></script>
</head>
<body>
  <div class="ui-moneyBox">
  <ul>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
            <th width="50%">修改登录密码</th>
            <th width="50%">修改资金密码</th>
          </tr>
            <tr>
            <form id="form1" name="form1" method="post" action="/user/password">
            <input type="hidden" name="formtype" value="login" />
              <td height="200" align="center">
              <div style="width:340px; height:40px; margin:0 auto; line-height:40px; text-align:left; border-bottom:1px #CCCCCC solid; padding-left:10px;">请输入原登录密码：<input name="oldpass" type="password" class="Input_200" id="oldpass" />
              </div>
              <div style="width:340px; height:40px; margin:0 auto; line-height:40px; text-align:left; border-bottom:1px #CCCCCC solid; padding-left:10px;">请输入新登录密码：<input name="newpass" type="password" class="Input_200" id="newpass" maxlength="10"/>
              </div>
              <div style="width:340px; height:40px; margin:0 auto; line-height:40px; text-align:left; border-bottom:1px #CCCCCC solid; padding-left:10px;">请确认新登录密码：<input name="newpass2" type="password" class="Input_200" id="newpass2" maxlength="10"/>
              </div>
              <div style="width:350px; height:50px; margin:0 auto; line-height:40px; text-align:center; padding-top:10px;">
                
                  <input name="button" type="submit" class="m_btn" id="button" value="确认修改" />
                
              </div>
              </td>
              </form>
              <form id="form2" name="form2" method="post" action="/user/password">
              <input type="hidden" name="formtype" value="pay" />
              <td height="200" align="center">
              <div style="width:340px; height:40px; margin:0 auto; line-height:40px; text-align:left; border-bottom:1px #CCCCCC solid; padding-left:10px;">请输入原资金密码：
                <input name="oldmoneypass" type="password" class="Input_200" id="oldmoneypass" />
              </div>
              <div style="width:340px; height:40px; margin:0 auto; line-height:40px; text-align:left; border-bottom:1px #CCCCCC solid; padding-left:10px;">请输入新资金密码：
                <input name="newmoneypass" type="password" class="Input_200" id="newmoneypass" maxlength="10"/>
              </div>
              <div style="width:340px; height:40px; margin:0 auto; line-height:40px; text-align:left; border-bottom:1px #CCCCCC solid; padding-left:10px;">请确认新资金密码：
                <input name="newmoneypass2" type="password" class="Input_200" id="newmoneypass2" maxlength="10"/>
              </div>
              <div style="width:350px; height:50px; margin:0 auto; line-height:40px; text-align:center; padding-top:10px;">
                
                  <input name="button" type="submit" class="m_btn" id="button" value="确认修改" />
                
              </div>
              </td>
              </form>
          </tr>
      </table>
    </ul>
</div>
</body>
</html>