<form class="form-horizontal" id="member_add" >
  <div class="box-body">
    <div class="form-group">
     
      <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="Username" name="username" placeholder="用户名" {if(!empty($info['username']))} value="{$info['username']}" {/if}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">会员昵称</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="Nickname" name="nickname"  placeholder="会员昵称" {if(!empty($info['nickname']))} value="{$info['nickname']}" {/if}>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">真实姓名</label>

      <div class="col-sm-10">
        <input type="text" class="form-control"  name="name"  placeholder="真实姓名" {if(!empty($info['name']))} value="{$info['name']}" {/if}>
      </div>
    </div>
    {if(empty($info['password']))}
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="password" placeholder="密码"  value="" />
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">再次密码</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="confirm_password" placeholder="再次密码"  value="" />
        </div>
      </div>
    {/if}
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
       <div class="col-sm-10">
        <select class="form-control select2 select2-hidden-accessible tabindex="-1" name="sex"  aria-hidden="true">
            <option value="保密" {if(!empty($info['sex']) && $info['sex']=="保密")} selected="selected" {/if}>保密</option>
            <option value="男"   {if(!empty($info['sex']) && $info['sex']=="男")} selected="selected" {/if}>男</option>
            <option value="女"   {if(!empty($info['sex']) && $info['sex']=="女")} selected="selected" {/if}>女</option>
       </select>
        </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">会员类型</label>
      <div class="col-sm-10">
        <select class="form-control select2 select2-hidden-accessible tabindex="-1"  name="type"  aria-hidden="true">
          <option value="1" {if(!empty($info['type']) && $info['type']=='1')} selected="selected"{/if}>会员</option>
          <option value="2" {if(!empty($info['type']) && $info['type']=='2')} selected="selected"{/if}>代理</option>
        </select>
      </div>
    </div>

      <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">会员状态</label>
      <div class="col-sm-10">
        <select class="form-control select2 select2-hidden-accessible tabindex="-1"  name="enable"  aria-hidden="true">
            <option value="1" {if(!empty($info['enable']) && $info['enable']=='1')}  selected="selected"{/if}>开启</option>
            <option value="0" {if(!empty($info['enable']) && $info['enable']=='0')}  selected="selected"{/if}>关闭</option>
        </select>
      </div>
    </div>

     <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">收款银行</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="bank_name" name="bank_name"  placeholder="收款银行" {if(!empty($info->bank_name))} value="{$info->bank_name}" {/if}>
      </div>
    </div>

     <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">收款人</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="bank_username" name="bank_username"  placeholder="收款人" {if(!empty($info->bank_username))} value="{$info->bank_username}" {/if}>
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">收款账号</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="bank_account" name="bank_account"  placeholder="收款账号" {if(!empty($info->bank_account))} value="{$info->bank_account}" {/if}>
      </div>
    </div>

     <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">开户地址</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="bank_address" name="bank_address"  placeholder="开户地址" {if(!empty($info->bank_address))} value="{$info->bank_address}" {/if}>
      </div>
    </div>

    <input type="hidden" name="uid" {if(!empty($info['uid']))} value="{$info['uid']}" {/if} >
    <div class="col-sm-offset-2 col-sm-10">
        <button id="btnajax" class="btn btn-danger">提交</button>
    </div>
  </div>
</form>
<script type="text/javascript">
$(function(){
 
  $("#btnajax").click(function () {
  
    var options = {
       url: "{:url('edit')}",
       type : 'POST',
      dataType : 'json',
      success : function(data) {
        $(".layui-layer-close").click();

       layer.alert(data.msg, {
          time: 20000,
          skin: 'layui-layer-molv', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
          closeBtn: 0,
          anim: 4
        }, function(){
           window.location.href = document.URL;
        })
      },
      error: function(data) {
         $(".layui-layer-close").click();
        layer.alert(data.msg, {
          time: 20000,
          skin: 'layui-layer-molv', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
          closeBtn: 0,
          anim: 4
        }, function(){
           window.location.href = document.URL;
        })
      }
    };
      $("#member_add").ajaxForm(options);
   })

});

</script>