#up_btn{width: 72px;height: 31px;}
#up_btn input{margin-left: -12px;}
#preview{width: 150px;height: auto;}
#preview img{display: block;width: 100%;}
.control-group{float: left;clear: both;}
.controls_set_01{width: 503px;}
.contentinput #contentimg{display:inline-block;width: 32px;height: 32px;}
.table.table-hover img{width: 32px;height: 32px;}
select, textarea, input[type="text"], input[type="password"],
 input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
   padding: 4px 6px;
 }