
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,pre,td,textarea,th,ul {
	padding: 0;
	margin: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,i,strong,th,var {
	font-weight: 400;
	font-style: normal
}

li,ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-size: 100%
}

q:after,q:before {
	content: ""
}

abbr,acronym {
	border: 0
}

body,html {
	height: 100%
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

a {
	text-decoration: none;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none
}

a:link {
	color: #333
}

a:focus,a:hover {
	color: #f44a07
}

a:visited {
	color: #333
}

.li_checked {
	background: #e18016
}

.cpdt_checked {
	background: #fa8e19;
	color: #fff
}

.displaynone {
	display: none!important
}

.displayblock {
	display: block!important
}

.firthtd th {
	height: 46px!important
}

.secondtd th {
	font-size: 14px!important;
	line-height: 20px
}

.mobiledetailnew {
	box-shadow: -1px 0 12px rgba(0,0,0,.24)
}

.lfetmenu1shadow {
	box-shadow: 0 15px 30px rgba(0,0,0,.1)
}

body {
	background: #fff
}

.noboder {
	border: 0 solid transparent!important
}

.nomargin {
	margin: 0!important
}

.nopadding {
	padding: 0!important
}

.margt0 {
	margin-top: 0!important
}

.colorred {
	color: #f1010a!important
}

.muneboxshadow {
	box-shadow: 0 0 15px rgba(0,0,0,.18)
}

.nub01 {
	background: url("../img/icon/bjpknum.png") no-repeat -246px 0!important
}

.nub02 {
	background: url("../img/icon/bjpknum.png") no-repeat -42px 0!important
}

.nub03 {
	background: url("../img/icon/bjpknum.png") no-repeat -83px 0!important
}

.nub04 {
	background: url("../img/icon/bjpknum.png") no-repeat -123px 0!important
}

.nub05 {
	background: url("../img/icon/bjpknum.png") no-repeat -286px 0!important
}

.nub06 {
	background: url("../img/icon/bjpknum.png") no-repeat -1px 0!important
}

.nub07 {
	background: url("../img/icon/bjpknum.png") no-repeat -205px 0!important
}

.nub08 {
	background: url("../img/icon/bjpknum.png") no-repeat -164px 0!important
}

.nub09 {
	background: url("../img/icon/bjpknum.png") no-repeat -327px 0!important
}

.nub10 {
	background: url("../img/icon/bjpknum.png") no-repeat -368px 0!important
}

.numblue {
	background: url("../img/icon/bjpknum2.png") no-repeat -46px -373px!important
}

.numgreen {
	background: url("../img/icon/bjpknum2.png") no-repeat -339px -373px!important
}

.numred {
	background: url("../img/icon/bjpknum.png") no-repeat -91px -49px!important
}

.sscnumblue {
	background: url("../img/icon/bjpknum2.png") no-repeat -138px -373px!important
}

.numLightblue {
	background: url("../img/icon/bjpknum2.png") no-repeat -356px -325px!important
}

.numWeightblue {
	background: url("../img/icon/bjpknum2.png") no-repeat -394px -325px!important
}

.numOrange {
	background: url("../img/icon/bjpknum2.png") no-repeat -432px -325px!important
}

.numLightblueKong {
	background: url("../img/icon/bjpknum2.png") no-repeat -199px -373px!important
}

.numWeightblueKong {
	background: url("../img/icon/bjpknum2.png") no-repeat -245px -373px!important
}

.numOrangeKong {
	background: url("../img/icon/bjpknum2.png") no-repeat -291px -373px!important
}

.gxnumred {
	background: url("../img/icon/bjpknum2.png") no-repeat 0 -373px!important
}

.gxnumblue {
	background: url("../img/icon/bjpknum2.png") no-repeat -46px -373px
}

.gxnumgreen {
	background: url("../img/icon/bjpknum2.png") no-repeat -90px -373px
}

.numredkong {
	background: url("../img/icon/bjpknum2.png") no-repeat 0 -373px!important
}

.addF {
	background: url("../img/icon/bjpknum2.png") no-repeat -376px -373px
}

.equalF {
	background: url("../img/icon/bjpknum2.png") no-repeat -407px -373px
}

.num1 {
	background: url("../img/icon/bjpknum.png") no-repeat -430px 0
}

.num2 {
	background: url("../img/icon/bjpknum.png") no-repeat -430px -36px
}

.num3 {
	background: url("../img/icon/bjpknum.png") no-repeat -430px -72px
}

.num4 {
	background: url("../img/icon/bjpknum.png") no-repeat -430px -108px
}

.num5 {
	background: url("../img/icon/bjpknum.png") no-repeat -430px -144px
}

.num6 {
	background: url("../img/icon/bjpknum.png") no-repeat -430px -180px
}

.numsm01 {
	background: url("../img/icon/bjpknum2.png") no-repeat -246px -284px
}

.numsm02 {
	background: url("../img/icon/bjpknum2.png") no-repeat -42px -284px
}

.numsm03 {
	background: url("../img/icon/bjpknum2.png") no-repeat -83px -284px
}

.numsm04 {
	background: url("../img/icon/bjpknum2.png") no-repeat -123px -284px
}

.numsm05 {
	background: url("../img/icon/bjpknum2.png") no-repeat -286px -284px
}

.numsm06 {
	background: url("../img/icon/bjpknum2.png") no-repeat -1px -284px
}

.numsm07 {
	background: url("../img/icon/bjpknum2.png") no-repeat -205px -284px
}

.numsm08 {
	background: url("../img/icon/bjpknum2.png") no-repeat -164px -284px
}

.numsm09 {
	background: url("../img/icon/bjpknum2.png") no-repeat -327px -284px
}

.numsm10 {
	background: url("../img/icon/bjpknum2.png") no-repeat -368px -284px
}

.numss01 {
	background: url("../img/icon/bjpknum2.png") no-repeat 0 -199px
}

.numss02 {
	background: url("../img/icon/bjpknum2.png") no-repeat -30px -199px
}

.numss03 {
	background: url("../img/icon/bjpknum2.png") no-repeat -71px -199px
}

.numss04 {
	background: url("../img/icon/bjpknum2.png") no-repeat -107px -199px
}

.numss05 {
	background: url("../img/icon/bjpknum2.png") no-repeat -142px -199px
}

.numss06 {
	background: url("../img/icon/bjpknum2.png") no-repeat -178px -199px
}

.numss07 {
	background: url("../img/icon/bjpknum2.png") no-repeat -213px -199px
}

.numss08 {
	background: url("../img/icon/bjpknum2.png") no-repeat -249px -199px
}

.numss09 {
	background: url("../img/icon/bjpknum2.png") no-repeat -284px -199px
}

.numss10 {
	background: url("../img/icon/bjpknum2.png") no-repeat -320px -199px
}

.bignum {
	background: url("../img/icon/bjpknum2.png") no-repeat 0 -237px
}

.smallnum {
	background: url("../img/icon/bjpknum2.png") no-repeat -40px -237px
}

.evennum {
	background: url("../img/icon/bjpknum2.png") no-repeat -80px -237px
}

.singularnum {
	background: url("../img/icon/bjpknum2.png") no-repeat -120px -237px
}

.bluebig {
	background: url("../img/icon/bjpknum2.png") no-repeat 0 -327px
}

.bluesmall {
	background: url("../img/icon/bjpknum2.png") no-repeat -46px -327px
}

.blueeven {
	background: url("../img/icon/bjpknum2.png") no-repeat -90px -327px
}

.bluesingular {
	background: url("../img/icon/bjpknum2.png") no-repeat -138px -327px
}

.bluetotle {
	background: url("../img/icon/bjpknum2.png") no-repeat -318px -326px
}

.ncnum01 {
	background: url("../img/icon/cqncicon.png") no-repeat 0 0
}

.ncnum02 {
	background: url("../img/icon/cqncicon.png") no-repeat -46px 0
}

.ncnum03 {
	background: url("../img/icon/cqncicon.png") no-repeat -92px 0
}

.ncnum04 {
	background: url("../img/icon/cqncicon.png") no-repeat -138px 0
}

.ncnum05 {
	background: url("../img/icon/cqncicon.png") no-repeat -183px 0
}

.ncnum06 {
	background: url("../img/icon/cqncicon.png") no-repeat -230px 0
}

.ncnum07 {
	background: url("../img/icon/cqncicon.png") no-repeat -275px 0
}

.ncnum08 {
	background: url("../img/icon/cqncicon.png") no-repeat -321px 0
}

.ncnum09 {
	background: url("../img/icon/cqncicon.png") no-repeat -367px 0
}

.ncnum10 {
	background: url("../img/icon/cqncicon.png") no-repeat -413px 0
}

.ncnum11 {
	background: url("../img/icon/cqncicon.png") no-repeat 0 -83px
}

.ncnum12 {
	background: url("../img/icon/cqncicon.png") no-repeat -46px -83px
}

.ncnum13 {
	background: url("../img/icon/cqncicon.png") no-repeat -92px -83px
}

.ncnum14 {
	background: url("../img/icon/cqncicon.png") no-repeat -138px -83px
}

.ncnum15 {
	background: url("../img/icon/cqncicon.png") no-repeat -184px -83px
}

.ncnum16 {
	background: url("../img/icon/cqncicon.png") no-repeat -231px -83px
}

.ncnum17 {
	background: url("../img/icon/cqncicon.png") no-repeat -276px -83px
}

.ncnum18 {
	background: url("../img/icon/cqncicon.png") no-repeat -323px -83px
}

.ncnum19 {
	background: url("../img/icon/cqncicon.png") no-repeat -368px -83px
}

.ncnum20 {
	background: url("../img/icon/cqncicon.png") no-repeat -415px -83px
}

.displaynone {
	display: none
}

.displayblock,.loading {
	display: block
}

.loading {
	min-width: 3rem;
	marign: 1rem auto;
	text-align: center;
	font-size: .12rem;
	color: #999;
	padding-top: 1rem;
	padding-bottom: 1rem
}

.margtp0 {
	margin-top: 0
}

.margbt0 {
	margin-bottom: 0
}

#loadingbox {
	width: auto;
	min-width: 1px;
	height: 0;
	line-height: .2rem;
	margin: 0 auto;
	overflow: hidden;
	color: #fff;
	text-align: center;
	background: #e2e2e2;
	font-size: .1rem
}

.margtp78 {
	margin-top: .078rem
}

#codeNum li {
	float: left;
	margin-right: 5px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative
}

#codeNum li,#sumNum {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px
}

#sumNum {
	margin-left: 5px;
	background: #0092dd;
	border-radius: 15px
}

.pk10li li {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px
}

.sscli .numblueHead,.sscli .pcnumblueHead {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #0092dd
}

.sscli .pcnumblueHead {
	margin-right: 25px!important
}

.numredHead {
	background: #f1010a
}

.numheightHead,.numredHead {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%
}

.numheightHead {
	background: #027ac7
}

.numlightHead {
	background: #19a6da
}

.numgreenHead,.numlightHead {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%
}

.numgreenHead {
	background: #02cb44
}

.numorangeHead {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #f9982e
}

.kuai3li li {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

.bodyBox {
	box-sizing: border-box;
	height: auto;
	width: 100%;
	overflow: hidden;
	font-size: 14px
}

.bodyBox .content {
	display: none;
	padding: 8px!important
}

.bodyBox .loading {
	width: 100%;
	text-align: center
}

.bodyBox table {
	height: 30px
}

.bodyBox .hr table {
	float: right
}

.bodyBox .hl,.bodyBox hr {
	display: inline-block
}

.bodyBox .hl {
	width: 90%;
	float: left;
	text-align: left
}

.bodyBox .hr {
	width: 10%;
	float: right;
	text-align: right
}

.bodyBox #czlist,.bodyBox .czlist {
	margin-right: 5px;
	height: 30px;
	line-height: 30px;
	display: none;
	font-weight: 700
}

.bodyBox .nterm em {
	color: #21a4ff
}

.bodyBox .nterma em {
	padding-left: 5px;
	cursor: pointer
}

.bodyBox .nterma em:hover {
	color: #0568f7
}

.bodyBox .ntime {
	padding-left: 5px
}

.bodyBox .ntime em {
	color: #f1010a
}

#addtd span {
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center
}

#addtd .addF1,#addtd .addF2 {
	background: url("../img/haomaimg.png") no-repeat -1017px -140px
}

#addtd .addF1 {
	left: 27px
}

#addtd .addF2 {
	left: 82px
}

#addtd .equalF {
	left: 138px;
	background: url("../img/haomaimg.png") no-repeat -1040px -140px
}

.xgcaddF1 {
	background: url("../img/haomaimg.png") no-repeat -1017px -140px
}

#videobox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: rgba(0,0,0,.5)
}

#videobox .content {
	width: 880px;
	height: 596px;
	margin-bottom: -298px;
	margin-right: -440px;
	box-shadow: 0 18px 30px rgba(0,0,0,.18);
	bottom: -50%;
	position: fixed;
	right: 50%;
	z-index: 2000;
	background-color: #202020;
	outline: none;
	display: block;
	overflow: hidden;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}

#videobox .content .head {
	height: 60px;
	line-height: 60px;
	width: 100%;
	background: #fff;
	padding: 0 10px;
	box-sizing: border-box;
	position: relative
}

#videobox .content .head .btn {
	width: 200px;
	position: absolute;
	top: 50%;
	right: 0;
	height: 100%;
	margin-top: -15px;
	margin-right: 10px
}

#videobox .content .head .btn ul {
	width: 100%;
	height: auto
}

#videobox .content .head .btn ul li {
	display: inline-block;
	float: right;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left: 10px
}

#videobox .content .head .btn ul .closevideo {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%
}

#videobox .content .head .btn ul .closevideo i {
	height: 30px;
	width: 30px;
	display: inline-block;
	background: url("../img/icon/bjpknum.png") no-repeat -390px -150px
}

#videobox .content .head .btn ul .closevideo i:hover {
	background: url("../img/icon/bjpknum.png") no-repeat -351px -150px
}

#videobox .content .animate {
	width: 100%;
	height: 536px
}

#videobox .content .animate .loading {
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
	background-image: url(../js/lib/finishAnimation/images/logo.png);
	background-repeat: no-repeat;
	background-position: 50%
}
