<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>北京赛车PK拾开奖结果</title>
<link type="text/css" rel="stylesheet" href="/css/lottery/ssc.css"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<style>
body{
	margin:0px;
	padding:0px;
	font-family: "宋体", Arial;
	color:#383838;
    position: relative;
	font-size:12px;
	/* 样式修改 */
	background:#CCCCCA;
}
    a:link, a:visited, a:active, a:hover { color: #F9E101; }
</style>
</head>
<body>
<div class="lottery_main" style="margin: 0px auto;">
<div class="ssc_left">
    <div class="touzhu" style="margin: 0px;">
        <table class="bian" border="0" cellpadding="0" cellspacing="1">
            <tr class="bian_tr_title">
                <td colspan="18">北京赛车PK拾开奖结果</td>
            </tr>
            <tr class="bian_tr_txt">
                <td colspan="18">选择日期查看：
                    <a href="{:url('openlist/bjpk10','t=1')}"><?=date("Y-m-d",time());?></a>&nbsp;&nbsp;
                    <a href="{:url('openlist/bjpk10','t=2')}"><?=date("Y-m-d",time()-1*24*3600);?></a>&nbsp;&nbsp;
                    <a href="{:url('openlist/bjpk10','t=3')}"><?=date("Y-m-d",time()-2*24*3600);?></a>&nbsp;&nbsp;
                    <a href="{:url('openlist/bjpk10','t=4')}"><?=date("Y-m-d",time()-3*24*3600);?></a>&nbsp;&nbsp;
                    <a href="{:url('openlist/bjpk10','t=5')}"><?=date("Y-m-d",time()-4*24*3600);?></a>&nbsp;&nbsp;
                    <a href="{:url('openlist/bjpk10','t=6')}"><?=date("Y-m-d",time()-5*24*3600);?></a>&nbsp;&nbsp;
                    <a href="{:url('openlist/bjpk10','t=7')}"><?=date("Y-m-d",time()-6*24*3600);?></a>
                </td>
            </tr>
            <tr class="bian_tr_title">
                <td width="17%">开奖时间</td>
                <td width="7%">期数</td>
                <td width="4%">一</td>
                <td width="4%">二</td>
                <td width="4%">三</td>
                <td width="4%">四</td>
                <td width="4%">五</td>
                <td width="4%">六</td>
                <td width="4%">七</td>
                <td width="4%">八</td>
                <td width="4%">九</td>
                <td width="4%">十</td>
                <td>冠亚军和</td>
                <td width="5%">1V10</td>
                <td width="5%">2V9</td>
                <td width="5%">3V8</td>
                <td width="5%">4V7</td>
                <td width="5%">5V6</td>
            </tr>
            {volist name='data' id='rows'}
            <tr class="bian_tr_txt">
                <td><?=$rows['datetime']?></td>
                <td><?=$rows['qishu']?></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_1']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_2']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_3']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_4']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_5']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_6']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_7']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_8']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_9']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td><img src="/images/lottery/ball_1/{$rows['hm']['ball_10']|str_pad=2,0,STR_PAD_LEFT}.png"></td>
                <td>{$rows['auto']['1']} / {$rows['auto']['2']} / {$rows['auto']['3']}</td>
                <td>{$rows['auto']['4']}</td>
                <td>{$rows['auto']['5']}</td>
                <td>{$rows['auto']['6']}</td>
                <td>{$rows['auto']['7']}</td>
                <td>{$rows['auto']['8']}</td>
            </tr>
            {/volist}
      </table>
    </div>
</div>
</div>
</body>
</html>