<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>管理中心首页</title>
<link href="/css/base.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.js"></script>
</head>
<body class="index">

<div id="validateErrorContainer" class="validateErrorContainer" style="display:none">
		<div class="validateErrorTitle">以下信息填写有误,请重新填写</div>
		<ul></ul>
</div>
<div class="bar">
		欢迎使用金牌娱乐线上娱乐管理系统！
	</div>
	<div class="body">
<div class="bodyLeft">
 <table class="listTable">
				<tr>
<th colspan="2">

						金牌运维SKYPE:swangwangyis@outlook.com
					</th>
				</tr>


			</table>
</div>
		<div class="bodyRight"></div>
    </div>
</body>
</html>