
/*顶部*/
.top_a{width:100%; padding:0;margin:0 auto;height:28px;background-color:#F5F5F5;border-bottom:1px solid #F0F0F0;}
.top_a1{width:1200px;padding:0;margin:0 auto;height:28px;}
.top_a1_a{float:left;width:600px; height:28px; line-height:28px; text-align:left;font-size:12px;COLOR:#24A4FF;}
.top_a1_b{float:left;width:600px; height:28px; line-height:28px; text-align:right;font-size:12px;COLOR:#dddddd;}
.top_b{width:100%; padding:0;margin:0 auto;height:80px;background-color:#FFFFFF}
.top_logo{width:1200px; padding:0;margin:0 auto;height:80px;}
.top_logo1{float:left;width:240px; height:60px; margin-top:10px;}
.top_logo2{float:right;width:680px; height:60px;margin-top:10px;}

.top_nav{width:1200px;padding:0;margin:0 auto;height:60px;background-color:#F3204A; margin-bottom:10px;}
.top_nav_my{width:1200px;padding:0;margin:0 auto;height:60px;}
.top_nav_my1{float:left;width:240px;height:60px;background-color:#212224;position:relative;}
.top_nav_my1a{float:left;width:23px;height:19px; margin-top:21px; margin-left:35px;}
.top_nav_my1b{float:left;width:130px;height:60px; line-height:60px; text-align:center;font-size:18px;COLOR:#ffffff;}
.top_nav_my2{float:left;width:960px;height:60px; line-height:60px;}


.nav_cai a:link{float:left; width:240px;height:60px;TEXT-DECORATION: NONE;text-align:center;background: url(../images/M2.png) 180px 27px no-repeat;}
.nav_cai a:visited{float:left; width:240px;height:60px;TEXT-DECORATION: NONE;text-align:center;background: url(../images/M1.png) 180px 27px no-repeat;}
.nav_cai a:active{float:left; width:240px;height:60px;TEXT-DECORATION: NONE;text-align:center;background: url(../images/M1.png) 180px 27px no-repeat;}
.nav_cai a:hover{float:left; width:240px;height:60px;TEXT-DECORATION: NONE;text-align:center;background: url(../images/M1.png) 180px 27px no-repeat;background-color:#212224;}

.nav_wo a:link{float:left;height:60px;line-height:60px;font-size:18px;COLOR:#ffffff;TEXT-DECORATION: NONE;text-align:center; padding-left:51px;}
.nav_wo a:visited{float:left;height:60px;line-height:60px;font-size:18px;COLOR:#ffffff;TEXT-DECORATION: NONE;text-align:center; padding-left:51px;}
.nav_wo a:active{float:left;height:60px;line-height:60px;font-size:18px;COLOR:#ffffff;TEXT-DECORATION: NONE;text-align:center; padding-left:51px;}
.nav_wo a:hover{float:left;height:60px;line-height:60px;font-size:18px;COLOR:#ffffff;TEXT-DECORATION: NONE;text-align:center; padding-left:51px;}
A.link_top:link    {FONT-SIZE:12px; COLOR:#888888;TEXT-DECORATION:none}
A.link_top:visited {FONT-SIZE:12px; COLOR:#888888;TEXT-DECORATION:none}
A.link_top:active  {FONT-SIZE:12px; COLOR:#888888;TEXT-DECORATION:none}
A.link_top:hover   {FONT-SIZE:12px; COLOR:#ff8600;TEXT-DECORATION:none}
A.link_top1:link    {FONT-SIZE:12px; COLOR:#555555;TEXT-DECORATION:none}
A.link_top1:visited {FONT-SIZE:12px; COLOR:#555555;TEXT-DECORATION:none}
A.link_top1:active  {FONT-SIZE:12px; COLOR:#555555;TEXT-DECORATION:none}
A.link_top1:hover   {FONT-SIZE:12px; COLOR:#ff8600;TEXT-DECORATION:none}
/*弹出列表*/
.caiclear{ display:block; font-size:0px; height:0px; line-height:0px; clear:both;}
.caitext{width:236px;overflow: hidden;background-color:#FFFFFF;border-left:2px solid #212224;border-right:2px solid #212224;border-bottom:2px solid #212224;z-index:9999;position:absolute; display:none;}
.caitext .list{float:left;width:236px;height:40px;border-bottom:1px solid #F2F2F2;}
.caitext .list .a1{float:left;width:35px;height:25px; margin-top:7px; margin-left:15px;}
.caitext .list .a2{float:left;width:160px;height:40px; line-height:40px; text-align:left;FONT-SIZE:16px; COLOR:#555555;}
.caitext .list .a2 span{FONT-SIZE:12px; COLOR:#bbbbbb;}
.caitext .list .a3{float:right;width:10px;height:18px; margin-top:11PX; background-image:url(../images/top_go.png); margin-right:11PX;}
.caitext .list1{float:left;width:210px;height:30px; line-height:30px; text-align:left; margin-left:15px;FONT-SIZE:16px; COLOR:#333333; margin-top:12px; margin-bottom:3px;}
.caitext .list2{float:left;width:210px;overflow: hidden;margin-left:15px; margin-bottom:5px;}
.caitext .list2 .a1{float:left;width:70px;height:30px;line-height:30px;FONT-SIZE:12px; COLOR:#666666;}

/*底部*/
.bot{width:100%; padding:0;margin:0 auto;overflow: hidden;border-top:0px solid #D51C1A; margin-top:0px; background-color:#FFFFFF; margin-top:10px;}
.bot_m{width:1200px;padding:0;margin:0 auto;overflow: hidden;margin-top:35px;}
.bot_m1{float:left;width:550px;height:200px;border-right:1px solid #efefef;}
.bot_m2{float:left;width:450px;height:200px;border-right:1px solid #efefef;}
.bot_m3{float:left;width:198px;height:200px;}
.bot_m4{float:left; width:1200px;height:50px; line-height:50px;border-top:1px solid #F2F2F2;border-bottom:1px solid #F2F2F2;background-color:#FFFFFF; margin-top:35px; text-align:left;FONT-SIZE:12px;color:#888888;}
.bot_n2{float:left;width:500px;overflow: hidden;}
.bot_n2a{float:left;width:500px;height:45px; line-height:45px;text-align:left;FONT-SIZE:14px;color:#888888;font-weight:bold}
.bot_n2b{float:left;width:100px;height:30px; line-height:30px;text-align:left;FONT-SIZE:12px;color:#888888;}
.bot_n3{float:left;width:390px;overflow: hidden; margin-left:50px;}
.bot_n3a{float:left;width:100%;height:45px; line-height:45px;text-align:left;FONT-SIZE:14px;color:#888888; font-weight:bold}
.bot_n3b{float:left;width:100%;height:30px; line-height:30px;text-align:left;FONT-SIZE:12px;color:#888888;}
.bot_n3c{float:left;width:90%;line-height:24px;text-align:left;FONT-SIZE:12px;color:#F3204A; margin-top:8px}
.bot_n4{float:left;width:140px;overflow: hidden; margin-left:58px;}
.bot_n4a{float:left;width:100%;height:45px; line-height:45px;text-align:center;FONT-SIZE:12px;color:#888888; font-weight:bold}
.bot_n4b{float:left;width:100%; height:140px;text-align:left; margin-top:8px;}

.bot2{width:100%; padding:0;margin:0 auto; height:120px;background-color:#ffffff}
.bot2_m{width:1200px;padding:0;margin:0 auto;overflow: hidden;}
.bot2_m1{float:left;width:1200px;height:50px; line-height:50px; text-align:center;FONT-SIZE:12px;color:#666666; margin-top:0px;}
.bot2_m2{float:left;width:688px;padding:0;margin:0 auto; height:42px; margin-left:261px;}

A.link_bot:link    {FONT-SIZE:12px; COLOR:#888888;TEXT-DECORATION:none}
A.link_bot:visited {FONT-SIZE:12px; COLOR:#888888;TEXT-DECORATION:none}
A.link_bot:active  {FONT-SIZE:12px; COLOR:#888888;TEXT-DECORATION:none}
A.link_bot:hover   {FONT-SIZE:12px; COLOR:#ff8600;TEXT-DECORATION:none}


.main{width:1200px; padding:0;margin:0 auto;overflow: hidden;}
.main_l{float:left;width:750px; padding:0;overflow: hidden;margin-top:10px}
.main_r{float:left;width:250px; padding:0;overflow: hidden;margin-top:10px}

/*开奖号码*/
.k_num_blue{float:left;width:36px;height:36px; line-height:36px;font-size:20px;COLOR:#ffffff; font-weight:bold;font-family:"黑体"; text-align:center;background: url(../images/bjpknum.png) no-repeat -1px -47px!important; margin-right:15px;}
.k_num_red{float:left;width:36px;height:36px; line-height:36px;font-size:20px;COLOR:#ffffff; font-weight:bold;font-family:"黑体"; text-align:center;background: url(../images/bjpknum.png) no-repeat -91px -49px!important; margin-right:15px;}
/*PK10*/
.k_pk_num1{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -246px 0!important;margin-right:15px;}
.k_pk_num2{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -42px 0!important;margin-right:15px;}
.k_pk_num3{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -83px 0!important;margin-right:15px;}
.k_pk_num4{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -123px 0!important;margin-right:15px;}
.k_pk_num5{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -286px 0!important;margin-right:15px;}
.k_pk_num6{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -1px 0!important;margin-right:15px;}
.k_pk_num7{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -205px 0!important;margin-right:15px;}
.k_pk_num8{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -164px 0!important;margin-right:15px;}
.k_pk_num9{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -327px 0!important;margin-right:15px;}
.k_pk_num10{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -368px 0!important;margin-right:15px;}

.k_pk_jh_num1{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -246px 0!important;margin-right:5px;}
.k_pk_jh_num2{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -42px 0!important;margin-right:5px;}
.k_pk_jh_num3{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -83px 0!important;margin-right:5px;}
.k_pk_jh_num4{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -123px 0!important;margin-right:5px;}
.k_pk_jh_num5{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -286px 0!important;margin-right:5px;}
.k_pk_jh_num6{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -1px 0!important;margin-right:5px;}
.k_pk_jh_num7{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -205px 0!important;margin-right:5px;}
.k_pk_jh_num8{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -164px 0!important;margin-right:5px;}
.k_pk_jh_num9{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -327px 0!important;margin-right:5px;}
.k_pk_jh_num10{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -368px 0!important;margin-right:5px;}
/*快3*/
.k_k3_num1{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px 0;margin-right:15px;}
.k_k3_num2{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -43px;margin-right:15px;}
.k_k3_num3{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -86px;margin-right:15px;}
.k_k3_num4{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -129px;margin-right:15px;}
.k_k3_num5{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -172px;margin-right:15px;}
.k_k3_num6{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -215px;margin-right:15px;}

.k_num_add{float:left;width:36px;height:36px;background: url(../images/bjpknum2.png) no-repeat -376px -373px;margin-right:15px;}
.k_num_www{float:left;width:20px;height:36px;background: url(../images/bjpknum2.png) no-repeat -407px -373px;margin-right:15px;}

/*开奖列表*/
.num_blue{float:left;width:36px;height:36px; line-height:36px;font-size:18px;COLOR:#ffffff;font-family:"黑体"; text-align:center;background: url(../images/bjpknum.png) no-repeat -1px -47px!important; margin-left:20px;}
.num_red{float:left;width:36px;height:36px; line-height:36px;font-size:18px;COLOR:#ffffff;font-family:"黑体"; text-align:center;background: url(../images/bjpknum.png) no-repeat -91px -49px!important; margin-left:20px;}
/*PK10*/
.pk_num1{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -246px 0!important;margin-left:20px;}
.pk_num2{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -42px 0!important;margin-left:20px;}
.pk_num3{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -83px 0!important;margin-left:20px;}
.pk_num4{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -123px 0!important;margin-left:20px;}
.pk_num5{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -286px 0!important;margin-left:20px;}
.pk_num6{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -1px 0!important;margin-left:20px;}
.pk_num7{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -205px 0!important;margin-left:20px;}
.pk_num8{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -164px 0!important;margin-left:20px;}
.pk_num9{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -327px 0!important;margin-left:20px;}
.pk_num10{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -368px 0!important;margin-left:20px;}
/*快3*/
.k3_num1{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px 0;margin-left:20px;}
.k3_num2{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -43px;margin-left:20px;}
.k3_num3{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -86px;margin-left:20px;}
.k3_num4{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -129px;margin-left:20px;}
.k3_num5{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -172px;margin-left:20px;}
.k3_num6{float:left;width:36px;height:36px;background: url(../images/bjpknum.png) no-repeat -424px -215px;margin-left:20px;}
.num_add{float:left;width:36px;height:36px;background: url(../images/bjpknum2.png) no-repeat -376px -373px;margin-left:20px;}
.num_www{float:left;width:20px;height:36px;background: url(../images/bjpknum2.png) no-repeat -407px -373px;margin-left:20px; margin-right:20px;}

/*字体*/
.f1{font-size:20px;COLOR:#333333}
.f2{font-size:14px;COLOR:#666666}
.f3{font-size:14px;COLOR:#ff3300}
.f4{font-size:14px;COLOR:#999999}
.fsum{font-size:14px;COLOR:#A9182B;}
.ktime{float:left;width:50px; height:50px;line-height:50px; background-color:#444553;FONT-SIZE:26px; COLOR:#F4C905; text-align:center;border-radius:3PX;}
.ktime1{float:left;width:40px; height:50px;line-height:50px;FONT-SIZE:18px; COLOR:#777777;text-align:center}
.dtime{float:left;width:109px; height:39px; background-image:url(../images/dtime.png)}
/*开奖时间*/
/*开奖*/
.kj{float:left;width:1200px;overflow: hidden;background-color:#ffffff}
.kj .kinfo{float:left;width:1160px;overflow: hidden; margin-left:20px; margin-top:20px; margin-bottom:20px;}
.kj .kinfo .aa1{float:left;width:100px; height:101px; margin-right:20px;}
.kj .kinfo .aa2{float:left;width:600px; overflow: hidden;}
.kj .kinfo .aa2 .bb1{float:left;width:600px; height:40px;border-bottom:1px solid #F2F2F2;}
.kj .kinfo .aa2 .bb1 .cc1{float:left;width:450px; height:40px;}
.kj .kinfo .aa2 .bb1 .cc2{float:left;width:150px; height:30px; text-align:right; margin-top:5px;}
.kj .kinfo .aa2 .bb2{float:left;width:600px; height:40px; margin-top:15px;}
.kj .kinfo .aa3{float:right;width:380px; overflow: hidden;}
.kj .kinfo .aa3 .bb1{float:left;width:380px; height:40px;border-bottom:1px solid #F2F2F2;}
.kj .kinfo .aa3 .bb1 .cc1{float:left;width:200px; height:40px;}
.kj .kinfo .aa3 .bb1 .cc2{float:left;width:180px; height:40px; text-align:right;}
.kj .kinfo .aa3 .bb2{float:left;width:380px; height:50px; margin-top:10px;}

.kj .ktitle{float:left;width:1160px;overflow: hidden; margin-left:20px;}
.kj .ktitle .aa1{float:left;width:500px; height:70px;line-height:70px; text-align:left;FONT-SIZE:16px; COLOR:#555555;}
.kj .ktitle .aa2{float:right;width:500px; height:70px;line-height:70px; text-align:right;FONT-SIZE:16px; COLOR:#555555;}

.kj .klist{float:left;width:1160px;overflow: hidden; margin-left:20px; margin-top:20px; margin-bottom:20px;}

/*开奖结果列表*/
.tb_title{line-height:50px;FONT-SIZE:16px;color:#6D798C;text-align:center; background-color:#FCFCFD}
.tb_info{line-height:40px;FONT-SIZE:14px;color:#6D79A8;text-align:center;}

/*计划*/
.jh-pk10-l{float:left;width:640px;overflow: hidden; background-color:#FFFFFF; margin-top:10px;}
.jh-pk10-r{float:left;width:550px;overflow: hidden; margin-left:10px; background-color:#FFFFFF;margin-top:10px;}
.jh-pk10-l .ktitle{float:left;width:100%;overflow: hidden;border-bottom:3px solid #EEEEEE;}
.jh-pk10-l .ktitle .aa1{float:left;width:500px; height:70px;line-height:70px; text-align:left;FONT-SIZE:16px; COLOR:#555555; margin-left:20px;}
.jh-pk10-l .ktitle .aa2{float:right;width:100px; height:70px;line-height:70px; text-align:right;FONT-SIZE:16px; COLOR:#555555;margin-right:20px;}
.jh-pk10-l .klist{float:left;width:600px;overflow: hidden; margin-left:20px; margin-top:20px; margin-bottom:20px;}
.jh-pk10-r .ktitle{float:left;width:100%;overflow: hidden;border-bottom:3px solid #EEEEEE;}
.jh-pk10-r .ktitle .aa1{float:left;width:250px; height:70px;line-height:70px; text-align:left;FONT-SIZE:16px; COLOR:#555555; margin-left:20px;}
.jh-pk10-r .ktitle .aa2{float:right;width:260px; height:70px;line-height:70px; text-align:right;FONT-SIZE:16px; COLOR:#ff6600;margin-right:20px;}
.jh-pk10-r .klist{float:left;width:510px;overflow: hidden; margin-left:20px; margin-top:20px; margin-bottom:20px; line-height:30px;FONT-SIZE:14px; COLOR:#555555;}
.jh-pk10-r .klist .myad{float:left;width:510px; height:412px;FONT-SIZE:14px; COLOR:#555555;}



/*彩票导航*/
.ddiv{float:left;width:1200px;overflow: hidden; background-color:#FFFFFF;}
.ddiv .dinfo{float:left;width:1180px;overflow: hidden;margin-left:20px; margin-bottom:20px;}
.ddiv .dinfo .dlist{float:left;width:125px; height:40px;line-height:40px;overflow: hidden; margin-right:20px;margin-top:20px;border:1px solid #E5E5E5;FONT-SIZE:14px;color:#6D798C;border-radius:3PX; text-align:center;}
.ddiv .dinfo .dlist:hover{float:left;width:125px; height:40px;line-height:40px;overflow: hidden; margin-right:20px;margin-top:20px;border:1px solid #F3204A;FONT-SIZE:14px;color:#F3204A;border-radius:3PX; text-align:center;}
.ddiv .dinfo .dlist.on{float:left;width:125px; height:40px;line-height:40px;overflow: hidden; margin-right:20px;margin-top:20px;border:1px solid #F3204A;FONT-SIZE:14px;color:#FFFFFF;border-radius:3PX; text-align:center; background-color:#F3204A}
.ddiv .einfo{float:left;width:1160px;overflow: hidden;margin-left:20px; margin-bottom:20px;}
.ddiv .einfo .nn_title{float:left;width:100%; height:70px; line-height:70px;text-align:center;FONT-SIZE:24px;color:#555555; margin-top:5px;border-bottom:1px solid #efefef;}
.ddiv .einfo .nn_info{float:left;width:100%; overflow: hidden;line-height:35px;text-align:left;FONT-SIZE:16px;color:#555555; margin-bottom:20px; margin-top:15px}

/*资讯*/
.news-l{float:left;width:850px;overflow: hidden; background-color:#FFFFFF;}
.news-r{float:left;width:340px;overflow: hidden; margin-left:10px; background-color:#FFFFFF;}

.news-l .ntitle{float:left;width:100%;overflow: hidden;border-bottom:3px solid #EEEEEE;}
.news-l .ntitle .aa1{float:left;width:500px; height:50px;line-height:50px; text-align:left;FONT-SIZE:14px; COLOR:#777777; margin-left:20px;}
.news-l .ntitle .aa2{float:right;width:310px; height:50px;line-height:50px; text-align:right;FONT-SIZE:16px; COLOR:#555555;margin-right:20px;}
.news-l .ninfo{float:left;width:810px;overflow: hidden;margin-left:20px;}
.news-l .ninfo .nlist{float:left;width:100%;overflow: hidden;border-bottom:1px solid #F2F2F2;}
.news-l .ninfo .nlist .aa1{float:left;width:600px; height:60px;line-height:60px;text-align:left;FONT-SIZE:14px; COLOR:#777777;}
.news-l .ninfo .nlist .aa2{float:left;width:210px; height:60px;line-height:60px;text-align:right;FONT-SIZE:14px; COLOR:#888888;}
.news-l .ninfo .nn_title{float:left;width:100%; height:30px;text-align:center;FONT-SIZE:24px;color:#555555; margin-top:20px;}
.news-l .ninfo .nn_line{float:left;width:100%; height:48px; line-height:48px;text-align:center;FONT-SIZE:13px;color:#888888;border-bottom:1px solid #efefef;}
.news-l .ninfo .nn_info{float:left;width:100%; overflow: hidden;line-height:35px;text-align:left;FONT-SIZE:16px;color:#555555; margin-bottom:20px; margin-top:15px}


.news-r .ninfo{float:left;width:320px;overflow: hidden;margin-left:20px; margin-bottom:20px; margin-top:10px;}
.news-r .ninfo .nlist{float:left;width:140px;overflow: hidden;margin-right:20px; margin-top:10px;}
.news-r .ninfo .nlist .npic{float:left;width:140px;overflow: hidden;text-align:center}
.news-r .ninfo .nlist .ntitle{float:left;width:140px; height:30px; line-height:30px;text-align:center}


A.link_dh:link    {FONT-SIZE:14px; COLOR:#777777;TEXT-DECORATION:none}
A.link_dh:visited {FONT-SIZE:14px; COLOR:#777777;TEXT-DECORATION:none}
A.link_dh:active  {FONT-SIZE:14px; COLOR:#777777;TEXT-DECORATION:none}
A.link_dh:hover   {FONT-SIZE:14px; COLOR:#FF8600;TEXT-DECORATION:underline}
A.link1:link    {FONT-SIZE:14px; COLOR:#555555;TEXT-DECORATION:none}
A.link1:visited {FONT-SIZE:14px; COLOR:#555555;TEXT-DECORATION:none}
A.link1:active  {FONT-SIZE:14px; COLOR:#555555;TEXT-DECORATION:none}
A.link1:hover   {FONT-SIZE:14px; COLOR:#FF8600;TEXT-DECORATION:underline}

A.link2:link    {FONT-SIZE:18px; COLOR:#444444;TEXT-DECORATION:none}
A.link2:visited {FONT-SIZE:18px; COLOR:#444444;TEXT-DECORATION:none}
A.link2:active  {FONT-SIZE:18px; COLOR:#444444;TEXT-DECORATION:none}
A.link2:hover   {FONT-SIZE:18px; COLOR:#FF8600;TEXT-DECORATION:underline}
/*分页 */
.mypage_div{float:left;width:100%;height:70px; line-height:70px; margin-top:15px;text-align:center}
.mypage_no{float:left;width:100%;height:70px; line-height:70px; margin-top:15px;text-align:center;FONT-SIZE:20px; COLOR:#ff8600;}
.mypage_f1{FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#2E2E2E;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;}
A.mypage_link1:link    {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#C40000;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
A.mypage_link1:visited {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#C40000;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
A.mypage_link1:active  {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#C40000;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
A.mypage_link1:hover   {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#C40000;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
A.mypage_link2:link    {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#2E2E2E;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
A.mypage_link2:visited {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#2E2E2E;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
A.mypage_link2:active  {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#2E2E2E;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
A.mypage_link2:hover   {FONT-SIZE: 14px; COLOR:#FFFFFF;background-color:#C40000;padding-left:16PX;padding-RIGHT:16PX;padding-TOP:8PX;padding-BOTTOM:8PX;TEXT-DECORATION: NONE}
/*链接*/
A.link_bt1:link    {FONT-SIZE:14px; COLOR:#F3204A;TEXT-DECORATION: NONE;background-color:#FFFFFF;padding-left:14PX;padding-right:14PX;padding-top:4px;padding-bottom:5px;border-radius:3PX;border:1px solid #F3204A;}
A.link_bt1:visited {FONT-SIZE:14px; COLOR:#F3204A;TEXT-DECORATION: NONE;background-color:#FFFFFF;padding-left:14PX;padding-right:14PX;padding-top:4px;padding-bottom:5px;border-radius:3PX;border:1px solid #F3204A;}
A.link_bt1:active  {FONT-SIZE:14px; COLOR:#F3204A;TEXT-DECORATION: NONE;background-color:#FFFFFF;padding-left:14PX;padding-right:14PX;padding-top:4px;padding-bottom:5px;border-radius:3PX;border:1px solid #F3204A;}
A.link_bt1:hover   {FONT-SIZE:14px; COLOR:#FFFFFF;TEXT-DECORATION: NONE;background-color:#F3204A;padding-left:14PX;padding-right:14PX;padding-top:4px;padding-bottom:5px;border-radius:3PX;border:1px solid #F3204A;}

.bt1 {
font-size:14px;FONT-FAMILY:"Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;COLOR:#FFFFFF; text-align:center;
height:35px;
line-height:35px;
width:100px;
background-color:#FA8E19;
border:0px solid #FF3E3F;padding:0;border-radius:2px;
}

.totop{position:fixed;right:25px;bottom:45px;display:block;width:26px;height:62px;background:url(../images/rocket.png) no-repeat 0 0;-webkit-transition: all 0.2s ease-in-out;}
.totop:hover{background:url(../images/rocket.png) no-repeat 0 -62px;}

