{layout name="layout" /}
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <form>
          <div class="pull-left">
             <input class="form-control input-sm search" value="{$Think.get.nickname}" placeholder="请输入用户昵称" type="text" name="nickname" > 
          </div> 
          <div class="pull-left" style="margin-left:20px;">
              <input type="text" name="startTime"  value="{$Think.get.startTime}" placeholder="开始时间" class="form-control input-sm" id="datepicker1">
          </div>

          <div class="pull-left" style="margin-left:20px;">
            <input type="text" name="endTime"  value="{$Think.get.endTime}" placeholder="结束时间" class="form-control input-sm" id="datepicker2">
          </div> 
          
          <div class="has-feedback pull-left" style="margin-left:20px;">
              <button type="submit" class="btn btn-block btn-default btn-sm filter">查询</button>
          </div>
        </form>

      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
              <th>#</th>
              <th>用户ID</th>
              <th>用户昵称</th>
              <th>月份</th>            
              <th>分佣金额</th>
              <th>模式</th>
              <th>分佣比例</th>
              <th>打码量</th>
              <th>当月总派奖</th>
              <th>备注</th>
              <th>创建时间</th>
            </tr>
          {foreach($list as $item)}
            <tr>
              <td>{$item->id}</td>
              <td>{$item->uid}</td>
              <td>{$item->user->nickname}</td>
              <td>{$item->month}</td>
              <td>{$item->amount}</td>
              <td>{$item->agent_mode}</td>
              <td>{$item->agent_rate}</td>
              <td>{$item->bet_money}</td>
              <td>{$item->bet_bonus}</td>
              <td>{$item->remark}</td>
              <td>{$item->created_at}</td>
            </tr>
          {/foreach}
     
        </table>
        {$list->render();}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<script type="text/javascript">
$(function(){
  var obj = {
                autoclose: true,
                todayHighlight: true,
                language:"zh-CN", 
                format:"yyyy-mm-dd" 
           };
  $("#datepicker1").datepicker(obj)
  $("#datepicker2").datepicker(obj);
});

</script>
