
.success-wp{
	width: 532px;
	height: 274px;
	margin: 70px auto;
	border: 1px solid #e1e1e1;
	background: url(../../imgs/success-bg.png) no-repeat 31px bottom;
}

.success-wp h3{
	margin-left: 230px;
	margin-top: 130px;
	font-size: 30px;
	color: #00b12a;
	font-weight: bold;
}
.success-wp p{
	margin-left: 230px;
	margin-top: 15px;
	font-size: 18px;
	color: #555555;
}


.btn{
	width:100%;
	margin: 0 auto;
	clear: both;
}
.btn button{
	display: block;
	width: 152px;
	height: 32px;
	outline: none;
	border-radius: 30px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	background: #515151;
	margin: 0 auto;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
}
.btn button:hover{
	background: #ff6600;
}