<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>快速充值中心</title>
<link rel="stylesheet" type="text/css" href="/skin/css/style.css"/>
</head>
<script type="text/javascript">

function getNowFormatDate() {
    var date = new Date();
    var seperator1 = "-";
    var seperator2 = ":";
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = year + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
    return currentdate;
}

function browserRedirect() {
  var sUserAgent = navigator.userAgent.toLowerCase();
  var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
  var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
  var bIsMidp = sUserAgent.match(/midp/i) == "midp";
  var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
  var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
  var bIsAndroid = sUserAgent.match(/android/i) == "android";
  var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
  var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
  if (!(bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) ){
   
  }else{
	window.location.href='wap/index.html';
  }
}
browserRedirect();
</script>
<body style="background:#F5F5F5;">
<div class="block_0"></div>
<div class="quick_pay_contain">
	<div class="quick_pay_all" style="width:960px;">
		<div class="quick_pay_left_all">
			<h1></h1>
			<div class="block_0"></div>
			<div class="quick_pay_left" style="height: 420px;">
			</div>
		</div>
		<form method="post" id="pay" action="{:url('pay/pay')}">
			<div class="quick_pay_right" style="display: block;padding-left:20px; width:670px; height:480px;">
			
				<input type="hidden" name="username" id="username" value="{$username}" />
				<input type="hidden" name="rusername" id="rusername" value="{$username}" />
				<div id="set_form">
				
				</div>
				<div class="block_0"></div>
				<div class="quick_pay_right_6 mt10">
					<span>充值金额：</span>
					<span class="quick_pay_right_6_img"><input type="text" name="coin" id="coin" onkeyup="value=this.value.replace(/\D+/g,'')" value="" /></span>
					<span class="quick_pay_right_6_name ml10">充值额度为 10~5000 元</span>
				</div>	
				<div class="block_0"></div>
				<div class="quick_pay_right_7 mt30">
					<input type="hidden" name="money" id="money" value=""> 
					<input type="hidden" name="thirdid" id="thirdid" value=""> 
				    <input type="hidden" name="thirdtype" id="thirdtype" value=""> 
				    <input type="hidden" name="tcode" id="tcode" value=""> 
				    <input type="hidden" name="scid" id="scid" value=""> 
				    <input type="hidden" name="sccode" id="sccode" value=""> 
				    <input type="hidden" name="cashier" id="cashier" value=""> 				    
					<button id="paybtn" onClick="return btnOK_zf_onclick();">确认支付</button>
				</div>	
				<div id="qrcode" style="margin-top: 10px;padding-left: 80px;display: none;">					
				</div>						
			</div>
		</form>
		<div class="block_0"></div>
	</div>
</div>
</body>
<script type="text/javascript" src="/skin/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/skin/js/main.js"></script>
<script type="text/javascript" src="/skin/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/skin/js/utf.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		url:'{:url('pay/open')}',
		dataType:'json',
		type: 'GET',
		success:function(obj,set){	
			var num = obj.num;
			str = "";
			for(var i=0;i<num;i++){
			  	str+="<div class='quick_pay_left_1'>" + "</div>";
			}		
			$(".quick_pay_left").html(str);
			for (i=0;i<obj.set.length;i++){					
				var objId = obj.set[i].id,
					objPic = obj.set[i].pic,
					objName = obj.set[i].name
				var htmlAll = "<ul class='set_list' sid='" + objId + "'>"
			    + "<li class='quick_pay_left_img pl15'><img src='" + objPic + "' /></li>"
			    + "<li class='quick_pay_left_name f18 color_666 pl10'>"+ objName + "</li>"
			    + "<li class='quick_pay_left_arrow pl10 f18'>></li></ul>";
				$(".quick_pay_left").find(".quick_pay_left_1").eq(i).html(htmlAll);
				if(i==0){
					$('.quick_pay_left_1').eq(0).addClass("quick_pay_left_active");
					var html = "<div class='quick_pay_right_3 mt10'><span>充值方式：</span>"
						+ "<span class='quick_pay_right_3_img' sid='"+objId+"'><img src='"+objPic+"' /></span>"
						+ "<span class='quick_pay_right_3_name ml10'>"+objName+"</span></div>"
						+ "<div class='block_0'></div>"
						+ "<div class='set_bank'>"
					    + "<div class='quick_pay_right_4' mt10>"
						+ "<span class='quick_pay_right_4_h1'>选择银行：</span>"
						+ "<div class='quick_pay_right_4_bank'></div>"
						+ "</div></div>"
						+ "<div class='block_0'></div>"	
						+ "<div class='third_bank'>"
						+ "<div class='quick_pay_right_5'>"
						+ "<span class='quick_pay_right_5_h1'>线路选择：</span>"
						+ "<div class='quick_pay_right_5_bank'></div>"
						+ "</div></div>";
					$("#set_form").html(html);
					$(".quick_pay_right_3_img").trigger("click");
				}
			}	
		}
	})
})
$(function(){
//页面进入初始化	
init(0)	
//高度一致
var quickRightHeight = $(".quick_pay_right").height();
//$(".quick_pay_left").height(quickRightHeight);

$(".quick_pay_left_1").eq(0).css("border-top","1px solid #dcdcdc");

$(document).on("click",".quick_pay_left_1",function(){	
	var setid = $(this).find(".set_list").attr("sid");
	$.post("{:url('pay/get_set')}",{
		setid:setid,
	},function(obj){
		if(obj.stat == 0){
			var value = obj.value;
			var html = "<div class='quick_pay_right_3 mt10'><span>充值方式：</span>"
				+ "<span class='quick_pay_right_3_img' sid='"+value.id+"'><img src='"+value.pic+"' /></span>"
				+ "<span class='quick_pay_right_3_name ml10'>"+value.name+"</span></div>"
				+ "<div class='block_0'></div>"
				+ "<div class='set_bank'>"
			    + "<div class='quick_pay_right_4' mt10>"
				+ "<span class='quick_pay_right_4_h1'>选择银行：</span>"
				+ "<div class='quick_pay_right_4_bank'></div>"
				+ "</div></div>"
				+ "<div class='block_0'></div>"	
				+ "<div class='third_bank'>"
				+ "<div class='quick_pay_right_5'>"
				+ "<span class='quick_pay_right_5_h1'>线路选择：</span>"
				+ "<div class='quick_pay_right_5_bank'></div>"
				+ "</div></div>";
				$("#set_form").html(html);
				$(".quick_pay_right_3_img").trigger("click");
		}else if(obj.stat == 1){
			alert(obj.msg);
		}else{
			alert(obj.msg);
		}
	},"json");
	
	var payIndex = $(this).index();
	$(this).addClass("quick_pay_left_active").siblings(".quick_pay_left_1").removeClass("quick_pay_left_active");
	$(".quick_pay_right").eq(payIndex).show().siblings(".quick_pay_right").hide();	
	init(payIndex);	
})

$(document).on("click",".quick_pay_right_3_img",function(){
	var setid = $(this).attr("sid");	
	$.post("{:url('pay/code')}",{
		setid:setid,
	},function(obj){
		if(obj.stat == 0){
			var num = obj.num;
			var scnum = obj.scnum;
			str = "";
			for(var i=0;i<num;i++){
			  	str+="<ul class='new_li_list'>" + "</ul>";
			}	
			if(scnum>1){
				$(".quick_pay_right_4_bank").html(str);
			}else{
				$(".set_bank").hide();
				$(".quick_pay_right_5_bank").html(str);
			}
			for (i=0;i<obj.value.length;i++){	
				var objSetConfigid = obj.value[i].set_configid,					
					objThirdid = obj.value[i].thirdid,
					objName = obj.value[i].name,
					objType = obj.value[i].type,
					objcode = obj.value[i].code,
					objMin = obj.value[i].min,
					objMax = obj.value[i].max,
					objSetConfigcode = obj.value[i].setconfigcode,
					objImg = obj.value[i].img
					objCashier = obj.value[i].cashier;
				var tmpid = 'td-'+objThirdid;
	 			if(objImg){
	 				if(i == 0){
	 					html = "<li class='quick_pay_right_4_li' id='"+tmpid+"' tid='"+objThirdid+"' tcode='"+objcode+"' min='"+objMin+"' max='"+objMax+"' ttype='"+objType+"' sccode='"+objSetConfigcode+"' setconfigid='"+objSetConfigid+"' cashier='"+objCashier+"'><img src='"+objImg+"'/><img src='/skin/images/arrow.png' class='quick_pay_right_4_li_arrow'/></li>";
						$("#set_form").find('.quick_pay_right_4').find(".quick_pay_right_4_bank").find(".new_li_list").eq(i).html(html);
					}else{
						html = "<li class='quick_pay_right_4_li' tid='"+objThirdid+"' tcode='"+objcode+"' min='"+objMin+"' max='"+objMax+"' ttype='"+objType+"' sccode='"+objSetConfigcode+"' setconfigid='"+objSetConfigid+"' cashier='"+objCashier+"'><img src='"+objImg+"'/><img src='/skin/images/arrow.png' class='quick_pay_right_4_li_arrow'/></li>";
						$("#set_form").find(".quick_pay_right_4").find(".quick_pay_right_4_bank").find(".new_li_list").eq(i).html(html);	
					}
	 				if(i == 0){
						$("#"+tmpid).trigger("click");
					}
				}else{
					if(i == 0){
						html = "<li class='quick_pay_right_5_li' id='"+tmpid+"' tid='"+objThirdid+"' tcode='"+objcode+"' min='"+objMin+"' max='"+objMax+"' ttype='"+objType+"' sccode='"+objSetConfigcode+"' setconfigid='"+objSetConfigid+"' cashier='"+objCashier+"'><i>"+objName+"</i><img src='/skin/images/arrow.png' class='quick_pay_right_4_li_arrow'/></li>";
						$("#set_form").find(".quick_pay_right_5").find(".quick_pay_right_5_bank").find(".new_li_list").eq(i).html(html);
					}else{
						html = "<li class='quick_pay_right_5_li' tid='"+objThirdid+"' tcode='"+objcode+"' min='"+objMin+"' max='"+objMax+"' ttype='"+objType+"' sccode='"+objSetConfigcode+"' setconfigid='"+objSetConfigid+"' cashier='"+objCashier+"'><i>"+objName+"</i><img src='/skin/images/arrow.png' class='quick_pay_right_4_li_arrow'/></li>";
						$("#set_form").find(".quick_pay_right_5").find(".quick_pay_right_5_bank").find(".new_li_list").eq(i).html(html);	
					}
					if(i == 0){
						$("#"+tmpid).trigger("click");
					}
				} 
			}
		}else if(obj.stat == 1){
			alert(obj.msg);
		}else{
			alert(obj.msg);
		}
	},"json");
})

$(function(){
	 $(document).on("click",".quick_pay_right_4_li",function(){
		var setconfigid = $(this).attr("setconfigid"); 		
		$.post("{:url('pay/code_all')}",{
			setconfigid:setconfigid,
		},function(obj){
			if(obj.stat == 0){
				var num = obj.num;
				str = "";
				for(var i=0;i<num;i++){
				  	str+="<ul class='new_all_list'>" + "</ul>";
				}	
				$(".quick_pay_right_5_bank").html(str);
				for (i=0;i<obj.value.length;i++){	
					var objSetConfigid = obj.value[i].set_configid,					
						objThirdid = obj.value[i].thirdid,
						objName = obj.value[i].name,
						objType = obj.value[i].type,
						objcode = obj.value[i].code,
						objMin = obj.value[i].min,
						objMax = obj.value[i].max,
						objSetConfigcode = obj.value[i].setconfigcode,
						objImg = obj.value[i].img
						objCashier = obj.value[i].cashier;
					var tmpid = 'trird-'+objThirdid;
					if(i == 0){
						html = "<li class='quick_pay_right_6_li' id='"+tmpid+"' tid='"+objThirdid+"' tcode='"+objcode+"' min='"+objMin+"' max='"+objMax+"' ttype='"+objType+"' sccode='"+objSetConfigcode+"' setconfigid='"+objSetConfigid+"' cashier='"+objCashier+"'><i>"+objName+"</i><img src='/skin/images/arrow.png' class='quick_pay_right_4_li_arrow'/></li>";
						$("#set_form").find(".quick_pay_right_5").find(".quick_pay_right_5_bank").find(".new_all_list").eq(i).html(html);
					}else{
						html = "<li class='quick_pay_right_6_li' tid='"+objThirdid+"' tcode='"+objcode+"' min='"+objMin+"' max='"+objMax+"' ttype='"+objType+"' sccode='"+objSetConfigcode+"' setconfigid='"+objSetConfigid+"' cashier='"+objCashier+"'><i>"+objName+"</i><img src='/skin/images/arrow.png' class='quick_pay_right_4_li_arrow'/></li>";
						$("#set_form").find(".quick_pay_right_5").find(".quick_pay_right_5_bank").find(".new_all_list").eq(i).html(html);	
					}
					if(i == 0){
						$("#"+tmpid).trigger("click");
					}
				}
			}else if(obj.stat == 1){
				alert(obj.msg);
			}else{
				alert(obj.msg);
			}
		},"json");
	 })
})

$(function(){
	 $(document).on("click",".quick_pay_right_5_li,.quick_pay_right_6_li",function(){
		 $('#qrcode').html();
		 $("#paybtn").removeAttr('disabled').show();
	      var min = $(this).attr("min");
		  var max = $(this).attr("max");
		  if(min || max){
			var MShow = "充值额度为" + min + "~" + max + "元";
			$(".quick_pay_right_6_name").text(MShow);
		  }else{
			var MShow = "充值额度为" + 10 + "~" + 5000 + "元";
			$(".quick_pay_right_6_name").text(MShow);
		  }		  
		  var type = $(this).attr("ttype");
		  var thirdid = $(this).attr("tid");
		  var tcode = $(this).attr("tcode");
		  var scid = $(this).attr("setconfigid");
		  var sccode = $(this).attr("sccode");
		  var cashier = $(this).attr("cashier");
		  if(sccode){
			  var str = sccode.substring(2,0);
			  if(str=='DK'){
				var coin = sccode.replace(str,"");  
				$("#coin").val(coin).attr("disabled",true); 
				$("#money").val(coin);
				var Show = "充值额度为" + coin + "元";
				$(".quick_pay_right_6_name").text(Show);
			  }else{ 
				$("#coin").val("").attr("disabled",false); 
			  }
		  }
		  $("#thirdid").val(thirdid);
		  $("#tcode").val(tcode);
		  $("#thirdtype").val(type);
		  $("#scid").val(scid);
		  $("#sccode").val(sccode);
		  $("#cashier").val(cashier);
	 })
})

//点击选择银行变色
$(document).on("click",".quick_pay_right_4_li",function(){
	$(this).addClass("quick_pay_right_4_li_active").find(".quick_pay_right_4_li_arrow").css("right","0px")
	$(this).parent().siblings(".new_li_list").find(".quick_pay_right_4_li").removeClass("quick_pay_right_4_li_active").find(".quick_pay_right_4_li_arrow").css("right","-17px")
})
//点击选择线路变色
$(document).on("click",".quick_pay_right_5_li",function(){
	$(this).addClass("quick_pay_right_5_li_active").find(".quick_pay_right_4_li_arrow").css("right","0px")
	$(this).parent().siblings(".new_li_list").find(".quick_pay_right_5_li").removeClass("quick_pay_right_5_li_active").find(".quick_pay_right_4_li_arrow").css("right","-17px")
})

//点击选择线路变色all
$(document).on("click",".quick_pay_right_6_li",function(){
	$(this).addClass("quick_pay_right_6_li_active").find(".quick_pay_right_4_li_arrow").css("right","0px")
	$(this).parent().siblings(".new_all_list").find(".quick_pay_right_6_li").removeClass("quick_pay_right_6_li_active").find(".quick_pay_right_4_li_arrow").css("right","-17px")
})

})
function init(e){
	$(".quick_pay_right").eq(e).find(".quick_pay_right_4_li").eq(0).addClass("quick_pay_right_4_li_active").find(".quick_pay_right_4_li_arrow").css("right","0px")
	$(".quick_pay_right").eq(e).find(".quick_pay_right_5_li").eq(0).addClass("quick_pay_right_5_li_active").find(".quick_pay_right_4_li_arrow").css("right","0px")
}

var orderid = '';
function return_url(){
    $.get('/pay/orderPayed',{orderid:orderid},function(json){
        if(1 == json.status){
            location.href = window.location.reload;
        }else if(-1 == json.status){
        	alert(json.msg);
        }else{
        	setTimeout(return_url,5000);
        }
    },'json'); 
}

function btnOK_zf_onclick(){
	  var username = $("#username").val();
	  var usern = /^[a-zA-Z0-9]{1,}$/;
	  if(!usern.test(username)){
		alert('会员帐号只能由数字、大小写字母组成!'); 
		return false;
	  }
	  var coin = $("#coin").val();
	  var rusername = $("#rusername").val();
	  if(isNaN(coin)){
	   		alert("[提示]存款额度非有效数字！");
	   		return false;
	   	}
	   	/*
	   	if(coin<10){
		   alert("[提示]10元以上或者10元才能存款！");
	   	   return false;
	   	}
	   	if(coin>5000){
		   alert("[提示]存款金额不能超过5000！");
	   	   return false;
	   	}
	   	*/
	    if(username==null ||username==""){
		   alert("[提示]用户名不能为空！");
	   	   return false;
	   	}
		if(rusername==null ||rusername=="" || rusername!=username ){
		   alert("[提示]2次用户输入不一致！");
	   	   return false;
	   	}
	   	var cashier = $("#cashier").val();
	   	if(1 == cashier){
	   		$("#pay").submit();
	   	}else{
	   		var data = $('#pay').serialize();
	   		$.get('pay/pay.html',data,function(json){
	   			console.log(json);
	   			$('#qrcode').qrcode({width: 200,height: 200,text: json.data}).show();
	   			$('#paybtn').attr('disabled',"true").hide();
	   			orderid = json.orderid;
                setTimeout(return_url,5000)	   			
	   		},'json');
	   		return false;
	   	}
}
</script>
<style>
.quick_pay_all {
    width: 1080px;
    background: #ffffff;
    float: left;
    height: auto;
    padding: 10px 0px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 0px;
}
.quick_pay_left_all {
    float: left;
    width: 208px;
    height: auto;
    margin-left: 30px;
}
.quick_pay_left{
	width: 206px;
    min-height: 420px;
    float: left;
    background: #f6f6f6;
    height: auto;
    border: 1px solid #DCDCDC;
    padding-bottom: 4px;
}
.quick_pay_right {
    float: left;
    width: 710px;
    min-height: 480px;
    padding-bottom: 0px;
    padding-left: 80px;
    display: none;
    border-top: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
}
</style>
</html>
