<div style="border:2px solid #FFDF42; width:155px; height:113px; background-image:url(images/leftbg01.gif); position:absolute; left: 6px; top: 5px; color:#fffff">
	<form id="form1" name="form1" method="post" action="bet.php" style="margin:0 0 0 0;" onsubmit="javascript:document.getElementById('submit').disabled=true;"><table width="155" border="0" align="center" cellspacing="0">
		  <tr>
			<td colspan="2" align="left" valign="middle" style="color:#ffffff;padding-left:10px; padding-top:10px; font-size:13px;">当前<?=$msg?>已改变</td>
		  </tr>
		  <tr>
			<td colspan="2" align="left" valign="middle" style="color:#ffffff;padding-left:10px; font-size:13px">最新<?=$msg?>：<span style="color:#FF0000; font-size:14px;"><?=$type?></span></td>
		  </tr>
		  <tr>
			<td colspan="2" align="left" valign="middle" style="color:#ffffff;padding-left:10px; font-size:13px">是否继续交易？</td>
		  </tr>
		  <tr>
			<td height="47" align="center" valign="middle">
			  <input type="button" name="Submit2" style="background-image:url(images/button001.gif); color:#FFFFFF; border:0px; width:73px; height:23px; cursor:pointer;" value="取消交易" onclick="goleft();" /></td>
			<td height="47" align="center" valign="middle"><input type="submit" name="submit" id="submit" style="background-image:url(images/button001.gif);  color:#FFFFFF; border:0px; width:73px; height:23px; cursor:pointer;" value="继续交易" /></td>
		  </tr>
		</table>
		<input type="hidden" name="bet_money" value="<?=$_POST["bet_money"]?>" />
		<input type="hidden" name="touzhutype" value="0" />
		<input type="hidden" name="ball_sort[]" value="<?=$_POST["ball_sort"][0]?>" />
		<input type="hidden" name="point_column[]" value="<?=$_POST["point_column"][0]?>" />
		<input type="hidden" name="match_id[]" value="<?=$_POST["match_id"][0]?>" />
		<input type="hidden" name="match_name[]" value="<?=$_POST["match_name"][0]?>"  />
		<input type="hidden" name="match_showtype[]" value="<?=$_POST["match_showtype"][0]?>"  />
		<input type="hidden" name="match_rgg[]" value="<?=$rgg?>" />
		<input type="hidden" name="match_dxgg[]" value="<?=$dxgg?>" />
		<input type="hidden" name="match_nowscore[]"  value="<?=$_POST["match_nowscore"][0]?>"  />
		<input type="hidden" name="match_type[]"  value="<?=$_POST["match_type"][0]?>"  />
		<input type="hidden" name="touzhuxiang[]" value="<?=$_POST["touzhuxiang"][0]?>" />
		<input type="hidden" name="master_guest[]"  value="<?=$_POST["master_guest"][0]?>"/>
		<input type="hidden" name="bet_info[]" value="<?=$_POST["bet_info"][0]?>"/> 
		<input type="hidden" name="bet_point[]" value="<?=$pl?>"/>
		<input type="hidden" name="match_time[]"  value="<?=$_POST["match_time"][0]?>"/>
		<input type="hidden" name="ben_add[]" value="<?=$_POST["ben_add"][0]?>"/>
		<input type="hidden" name="match_endtime[]"  value="<?=$_POST["match_endtime"][0]?>"/>
		<input type="hidden" name="Match_HRedCard[]"  value="<?=$_POST["Match_HRedCard"][0] ?? ''?>"/>
		<input type="hidden" name="Match_GRedCard[]"  value="<?=$_POST["Match_GRedCard"][0] ?? '' ?>"/>
		<input type="hidden" name="is_lose"  value="<?=$_POST["is_lose"][0]?>"/>
		<input type="hidden" name="tid"  value="<?=@$_POST["tid"][0]?>"/>
	</form>
</div>
	<script language="javascript">
	<!--
	if(self==top){
		top.location='/index.php';
	}
	
	function goleft(){
		window.location.href="{:Url('sport/left')}";
	}
	
	window.setInterval("goleft()",5000); //5秒未点击，自动退到left.php页面
	-->
	</script>
<script type="text/javascript" language="javascript" src="/js/left_mouse.js"></script>
</body>
	</html>