<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统设置</title>
<link href="/css/base.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.tools.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript">
function del(v){
    v=v.split('|')
	if(v[0]>0){
	    alert("该会员组下有会员，请先将该会员组下的会员转移，再来删除该会员组！");
		return false;
	}else{
	    return confirm('您确定要删除：'+v[1]+" 吗？") ? true : false;
	}
}
</script>
</head>
<body class="list">
	<!--<div class="bar">
		会员等级设置
	</div>-->
	

<div class="body">
<ul>
	<li>
		<a href="{:Url('game/index')}">游戏列表</a> >> 
		<a href="{:Url('gameball/index','gid='.$gameinfo.id)}">{$gameinfo['name']}玩法配置</a>
	</li>
</ul>
	<ul id="tab" class="tab">
		<li>
			<input type="button" value="玩法列表{$gameinfo['name']}" hidefocus class="current" onClick="window.location.href='{:Url('gameball/index','gid='.$gameinfo.id)}'" />
		</li>
		<li>
			<input type="button" value="添加玩法" hidefocus  onClick="window.location.href='{:Url('gameball/add','gid='.$gameinfo.id)}'" />
		</li>
	</ul>
	<div>玩法列表</div>
	<table id="listTable" class="listTable">
		<tr>
			<th>编号</th>
			<th>号码</th>
			<th>模板</th>
			<th>操作</th>
		</tr>
		{volist id="list" name="gameballs"}
		<tr>
			<td align="center">{$list.id}</td>
			<td align="center">{$list.ball_name}</td>
			<td align="center">{$list.template}</td>
			<td align="center">
				<a href="{:Url('gameball/edit','gid='.$gameinfo['id'].'&bid='.$list.id)}" >修改</a> | 
				<a href="{:Url('gameball/delete','gid='.$gameinfo['id'].'&bid='.$list.id)}" >删除</a> |
				<a href="{:Url('playtype/index','gid='.$gameinfo['id'].'&bid='.$list.id)}" >号码配置</a> | 
			</td>
		</tr>
		{/volist}
	</table>
</div>
</body>
</html>