
.current-use{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #e9e9e9;
	color: #555555;
}
.current-use h3{
	float: left;
	font-size: 16px;
	font-weight: bold;
	color:#333333;
	line-height: 35px;
}
.current-use div{
	float: left;
	margin-left: 38px;
}
.current-use div img{
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin-top: 5px;
}
.current-use div span{
	color: #ff6600;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
	margin-left: 10px;
}
.current-use .curren-name{
	color: #555555;
	font-size: 14px;
	float: left;
	margin-left: 38px;
	line-height: 35px;
}
.current-use .curren-name em{
	font-style: normal;
}
.current-use .curren-mony{
	color: #555555;
	font-size: 14px;
	float: left;
	margin-left: 38px;
}
.current-use .curren-mony em{
	color: #ff0000;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
}
