{layout name="layout" /}

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
		<button class="btn btn-default pull-left add_level">新增</button>
	</div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
         	<tr>
			  <th>#</th>
			  <th>等级</th>
			  <th>等级名称</th>
			  <th>最低分数</th>
			  <th>操作</th>
			</tr>
			{foreach $member_level as $v}
			 <tr>
				<td>{$v.id}</td>
				<td>{$v.level}</td>
				<td>{$v.levelName}</td>
				<td>{$v.minScore}</td>
				<td >
					<i  data-id="{$v.id}" class="edit fa fa-pencil"></i>&nbsp;&nbsp;
					<i  data-id="{$v.id}" class="del fa fa-trash"></i>
              	</td>
			</tr>
			{/foreach}
        </table>
        {$member_level->render();}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<script type="text/javascript">
$(function(){
	$(".add_level").click(function(){
		$.get('/member/member_level_form.html',{},function(data){
			layer.open({
				type: 1,
				title: '新增会员等级',
				maxmin: true, //开启最大化最小化按钮
				area: ['700px', '400px'],
				content: data
			});
		},'html');
	});
	
	$(".edit").click(function(){
		var id = $(this).attr('data-id');
		$.get('/member/member_level_form.html',{id:id},function(data){
			layer.open({
				type: 1,
				title: '修改会员等级',
				maxmin: true, //开启最大化最小化按钮
				area: ['700px', '400px'],
				content: data
			});
		},'html');
	});
	$(".del").click(function(){
		var id = $(this).attr('data-id');
		layer.confirm('确定删除?', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			$.get('/member/member_level_del',{id:id},function(data){
				layer.alert(data.msg, {
		          time: 20000,
		          skin: 'layui-layer-molv', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
		          closeBtn: 0,
		          anim: 4
		        }, function(){
		           window.location.href = document.URL;
		        })

			},'json');
		}, function(){
		
		});
	});
});

</script>


